$i: !important
$trans: transparent
$font: 'Roboto', sans-serif

// Colors
$grn1: #386641
$grn2: #6a994e
$grn3: #a7c957
$blk0: rgba(0,0,0,0.5)
$blk: #2a2a2a
$wht05: rgba(255,255,255,0.5)
$wht08: rgba(255,255,255,0.8)
$wht1: #f6f2e9
$wht2: #edeeee
$gray1: #F5F7F9

html
    scroll-behavior: smooth

body
    font-family: $font $i

// general
h1, h2, h3, h4, h5
    font-weight: 700

.loader
    position: fixed
    left: 0px
    top: 0px
    width: 100%
    height: 100%
    z-index: 999
    background: url('../images/PSGG-logo-big.png') 50% 50% / auto 10rem no-repeat rgb(255,255,255)

.section-space
    padding-top: 4rem
    padding-bottom: 4rem

.section-title
    font-size: 2.5rem
    font-weight: 700
    margin-bottom: 2rem

.highlight1
    color: $grn1

.highlight2
    color: $grn3

.highlight3
    color: $grn2

.max-offset
    max-width: 100%
    position: relative
    left: 50%
    width: 100vw
    transform: translateX(-50%)

.icon-container
    background-color: #2a2a2a
    width: 35px
    height: 35px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    transition: 0.3s

    .fas
        color: $grn3

.btn-view
    font-weight: 700
    color: $blk $i
    background-color: $grn3
    border: 1px solid $grn3

    &:hover
        background-color: $trans
        color: $grn2 $i
        border-color: $grn3

.btn
    padding: 10px 12px

// Pagination
.pagination-nav
    padding-top: 2rem

    .page-item
        .page-link
            background-color: $gray1
            width: 1.8rem
            height: 1.8rem
            border-radius: 1.8rem
            justify-content: center
            align-items: center
            display: flex
            border: none
            color: $blk
            font-weight: 700
            transition: 0.1s
            margin: 0 .1rem

            &.active, &:active, &:hover
                background-color: $grn3
                color: $wht1 $i
                outline: 0

// menu
.navbar
    background-color: $wht1
    border-bottom: 1px solid rgba(0,0,0,0.1)

    .navbar-brand
        padding: 0

        img
            width: 60px $i

    .navbar-toggler
        border: none
        outline: 0

    .navbar-nav
        .nav-item
            padding: 0 20px

            &.active
                .nav-link
                    color: $grn2 $i

            &:hover
                .nav-link
                    color: $grn2
                    transition: .3s

            .nav-link
                font-size: 1.2rem
                font-weight: 700
                color: $blk

        &.navbar-top
            justify-content: flex-end

            .nav-item
                .nav-link
                    font-size: .9rem

    .admin-nav
        .fa-user-circle
            &:before
                font-size: 1.5rem
                color: $grn3

        .admin-name
            font-weight: 700

        .dropdown-menu
            .dropdown-item
                transition: .3s

                &:hover
                    background-color: $grn3

//Home Page
// home slider
.home-page
    .home-banner
        .carousel-indicators
            li
                width: 0.8rem
                height: 0.8rem
                border-radius: 50%
                margin-left: 5px
                margin-right: 5px
                border: 2px solid $wht1
                background-color: $trans

                &.active
                    background-color: $grn3
                    border-color: $grn3

        .carousel-inner
            .carousel-item
                .carousel-caption
                    h2
                        margin-bottom: 0.5rem
                        width: 100%

                    &.caption-top
                        top: 0
                        bottom: auto
                        left: 50%
                        right: auto
                        transform: translateX(-50%)
                        width: 100%
                        padding: 45px 2rem 2rem

                    &.caption-left
                        top: 0
                        bottom: auto
                        left: 0
                        right: auto
                        width: 20%
                        height: 100%
                        padding: 0 1rem

                    &.caption-bottom
                        top: auto
                        bottom: 0
                        left: 50%
                        right: auto
                        transform: translate(-50%)
                        width: 100%
                        padding: 2rem 2rem 45px

                    &.caption-right
                        top: 0
                        bottom: auto
                        left: auto
                        right: 0
                        width: 20%
                        height: 100%
                        padding: 0 1rem

                    &.cap-dark
                        background-color: $blk0

                        h2
                            color: $grn3

                    &.cap-light
                        background-color: $wht08

                        h2
                            color: $grn1

                        p
                            color: $blk $i

        .car-arrow
            width: 70px

// home announcement
.home-announcement
    padding-bottom: 4rem
    .card
        border: none

        .card-title
            font-weight: 700
            font-size: 1.2rem

        .card-text
            font-size: 1rem

    .slick-slider
        .slick-nav
            top: auto
            bottom: -1rem
            width: 100%

            .icon-container
                left: auto
                cursor: pointer

            &.prev
                .icon-container
                    right: 5rem

            &.next
                .icon-container
                    right: 2rem

// Gallery Page
.gallery-page
    .album-container
        padding-bottom: 1rem

        .album-image
            background-color: $grn2

            a
                img
                    transition: 0.3s
                &:hover
                    img
                        opacity: 0.5

                    .text-view
                        opacity: 1

                .text-view
                    font-weight: 700
                    top: 50%
                    left: 50%
                    bottom: auto
                    right: auto
                    transform: translate(-50%, -50%)
                    color: $wht1
                    transition: 0.3s
                    opacity: 0

        .album-title
            padding-top: 0.5rem

            a
                color: $blk

                &:hover
                    color: $grn2
                    text-decoration: none

// Gallery Inner Page
.gallery-inner-page
    .album-images
        padding-bottom: 1rem

        .album-image
            cursor: pointer

// Gallery Popup
.mfp-gallery
    .mfp-content
        .mfp-figure
            .mfp-close
                width: auto
                background-color: $trans

// Activity Page
.activity-page
    .card
        border-color: $trans
        transition: .3s

        &:hover
            border-color: $grn3
            box-shadow: 0 0 .5rem $wht2

// Contact Page
.contact-page
    .top-details-container
        padding-bottom: 2.5rem

        .info-container
            margin-bottom: 1rem

        .image-container
            padding-right: 2.5rem

            img
                width: 3rem
                min-width: 3rem

    .bottom-details-container
        .social-links
            padding-top: 1rem

            img
                width: 3rem
                margin-right: 0.8rem

// ADMIN PAGES
// Album Images Page
.album-image-block
    img
        height: 200px
        object-fit: cover

    .card-footer
        background-color: rgba(0,0,0,0.03)

.album
    cursor: pointer

    .card-body
        padding: 0

        img
            height: 200px
            object-fit: cover

    .card-footer
        padding: 5px 5px 5px 15px

        .card-title
            margin-bottom: 0

.album-image
    .ivu-card-body
        padding: 0
        height: 150px
        background-color: $gray1

        img
            object-fit: contain

    .del-image-icon
        transition: .3s
        height: 100%
        background-color: $blk0
        width: 100%
        position: absolute
        top: 50%
        left: 50%
        right: auto
        bottom: auto
        transform: translate(-50%, -50%)
        z-index: 1
        opacity: 0

        .action-buttons
            display: flex
            position: absolute
            top: 50%
            left: 50%
            right: auto
            bottom: auto
            transform: translate(-50%, -50%)
            font-size: 30px
            color: $wht1
            cursor: pointer

        &:hover
            opacity: 1

// Activities Page
.activity-container, .about-section-container
    .card
        transition: .3s

        &:hover
            box-shadow: 0 0 5px rgba(0,0,0,0.2)

// Role Page
.role-container
    .table-block
        border: 1px solid green
        padding: 0 20px

// User Page
.user-container
    .table-block
        border: 1px solid green
        padding: 0 20px

        .user-avatar
            margin-right: 10px

.about-section-container
    .card
        .ivu-dropdown
            .ivu-icon
                padding: 20px 3px

// Pagination
.pagination-container
    .pagination
        .page-item
            .page-link
                transition: .3s
                border: 1px solid #868e96 $i

                &:hover
                    background-color: #148DA0 $i
                    color: $wht1 $i
                &:link
                    box-shadow: none
                    border: 1px solid #148DA0 $i

            &.disabled:not(.page-text)
                .page-link
                    background-color: #868e96 $i

// General
.gallery-album-container, .about-section-container, .about-panel-container
    .card
        .ivu-dropdown
            .ivu-dropdown-menu
                .ivu-dropdown-item
                    padding: 0

                    a
                        transition: .3s
                        padding: 7px 15px
                        color: $grn1

                    &:hover
                        a
                            background-color: $grn3
                            color: $wht1 $i

.role-form-container, .user-form-container
    padding: 40px 20px 20px
    box-shadow: 0 0 10px rgba(0,0,0,0.2)

.table_image img
    width: 40px

// 1366
@media only screen and (min-width: 1366px) and (max-width: 1535px)

// 1536
@media only screen and (min-width: 1536px) and (max-width: 1919px)

// 1920
@media only screen and (min-width: 1920px)
