html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif !important;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: url("../images/PSGG-logo-big.png") 50% 50%/auto 10rem no-repeat white;
}

.section-space {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.highlight1 {
  color: #386641;
}

.highlight2 {
  color: #a7c957;
}

.highlight3 {
  color: #6a994e;
}

.max-offset {
  max-width: 100%;
  position: relative;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
}

.icon-container {
  background-color: #2a2a2a;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.icon-container .fas {
  color: #a7c957;
}

.btn-view {
  font-weight: 700;
  color: #2a2a2a !important;
  background-color: #a7c957;
  border: 1px solid #a7c957;
}
.btn-view:hover {
  background-color: transparent;
  color: #6a994e !important;
  border-color: #a7c957;
}

.btn {
  padding: 10px 12px;
}

.pagination-nav {
  padding-top: 2rem;
}
.pagination-nav .page-item .page-link {
  background-color: #F5F7F9;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 1.8rem;
  justify-content: center;
  align-items: center;
  display: flex;
  border: none;
  color: #2a2a2a;
  font-weight: 700;
  transition: 0.1s;
  margin: 0 0.1rem;
}
.pagination-nav .page-item .page-link.active, .pagination-nav .page-item .page-link:active, .pagination-nav .page-item .page-link:hover {
  background-color: #a7c957;
  color: #f6f2e9 !important;
  outline: 0;
}

.navbar {
  background-color: #f6f2e9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar .navbar-brand {
  padding: 0;
}
.navbar .navbar-brand img {
  width: 60px !important;
}
.navbar .navbar-toggler {
  border: none;
  outline: 0;
}
.navbar .navbar-nav .nav-item {
  padding: 0 20px;
}
.navbar .navbar-nav .nav-item.active .nav-link {
  color: #6a994e !important;
}
.navbar .navbar-nav .nav-item:hover .nav-link {
  color: #6a994e;
  transition: 0.3s;
}
.navbar .navbar-nav .nav-item .nav-link {
  font-size: 1.2rem;
  font-weight: 700;
  color: #2a2a2a;
}
.navbar .navbar-nav.navbar-top {
  justify-content: flex-end;
}
.navbar .navbar-nav.navbar-top .nav-item .nav-link {
  font-size: 0.9rem;
}
.navbar .admin-nav .fa-user-circle:before {
  font-size: 1.5rem;
  color: #a7c957;
}
.navbar .admin-nav .admin-name {
  font-weight: 700;
}
.navbar .admin-nav .dropdown-menu .dropdown-item {
  transition: 0.3s;
}
.navbar .admin-nav .dropdown-menu .dropdown-item:hover {
  background-color: #a7c957;
}

.home-page .home-banner .carousel-indicators li {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #f6f2e9;
  background-color: transparent;
}
.home-page .home-banner .carousel-indicators li.active {
  background-color: #a7c957;
  border-color: #a7c957;
}
.home-page .home-banner .carousel-inner .carousel-item .carousel-caption h2 {
  margin-bottom: 0.5rem;
  width: 100%;
}
.home-page .home-banner .carousel-inner .carousel-item .carousel-caption.caption-top {
  top: 0;
  bottom: auto;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  width: 100%;
  padding: 45px 2rem 2rem;
}
.home-page .home-banner .carousel-inner .carousel-item .carousel-caption.caption-left {
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  width: 20%;
  height: 100%;
  padding: 0 1rem;
}
.home-page .home-banner .carousel-inner .carousel-item .carousel-caption.caption-bottom {
  top: auto;
  bottom: 0;
  left: 50%;
  right: auto;
  transform: translate(-50%);
  width: 100%;
  padding: 2rem 2rem 45px;
}
.home-page .home-banner .carousel-inner .carousel-item .carousel-caption.caption-right {
  top: 0;
  bottom: auto;
  left: auto;
  right: 0;
  width: 20%;
  height: 100%;
  padding: 0 1rem;
}
.home-page .home-banner .carousel-inner .carousel-item .carousel-caption.cap-dark {
  background-color: rgba(0, 0, 0, 0.5);
}
.home-page .home-banner .carousel-inner .carousel-item .carousel-caption.cap-dark h2 {
  color: #a7c957;
}
.home-page .home-banner .carousel-inner .carousel-item .carousel-caption.cap-light {
  background-color: rgba(255, 255, 255, 0.8);
}
.home-page .home-banner .carousel-inner .carousel-item .carousel-caption.cap-light h2 {
  color: #386641;
}
.home-page .home-banner .carousel-inner .carousel-item .carousel-caption.cap-light p {
  color: #2a2a2a !important;
}
.home-page .home-banner .car-arrow {
  width: 70px;
}

.home-announcement {
  padding-bottom: 4rem;
}
.home-announcement .card {
  border: none;
}
.home-announcement .card .card-title {
  font-weight: 700;
  font-size: 1.2rem;
}
.home-announcement .card .card-text {
  font-size: 1rem;
}
.home-announcement .slick-slider .slick-nav {
  top: auto;
  bottom: -1rem;
  width: 100%;
}
.home-announcement .slick-slider .slick-nav .icon-container {
  left: auto;
  cursor: pointer;
}
.home-announcement .slick-slider .slick-nav.prev .icon-container {
  right: 5rem;
}
.home-announcement .slick-slider .slick-nav.next .icon-container {
  right: 2rem;
}

.gallery-page .album-container {
  padding-bottom: 1rem;
}
.gallery-page .album-container .album-image {
  background-color: #6a994e;
}
.gallery-page .album-container .album-image a img {
  transition: 0.3s;
}
.gallery-page .album-container .album-image a:hover img {
  opacity: 0.5;
}
.gallery-page .album-container .album-image a:hover .text-view {
  opacity: 1;
}
.gallery-page .album-container .album-image a .text-view {
  font-weight: 700;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -50%);
  color: #f6f2e9;
  transition: 0.3s;
  opacity: 0;
}
.gallery-page .album-container .album-title {
  padding-top: 0.5rem;
}
.gallery-page .album-container .album-title a {
  color: #2a2a2a;
}
.gallery-page .album-container .album-title a:hover {
  color: #6a994e;
  text-decoration: none;
}

.gallery-inner-page .album-images {
  padding-bottom: 1rem;
}
.gallery-inner-page .album-images .album-image {
  cursor: pointer;
}

.mfp-gallery .mfp-content .mfp-figure .mfp-close {
  width: auto;
  background-color: transparent;
}

.activity-page .card {
  border-color: transparent;
  transition: 0.3s;
}
.activity-page .card:hover {
  border-color: #a7c957;
  box-shadow: 0 0 0.5rem #edeeee;
}

.contact-page .top-details-container {
  padding-bottom: 2.5rem;
}
.contact-page .top-details-container .info-container {
  margin-bottom: 1rem;
}
.contact-page .top-details-container .image-container {
  padding-right: 2.5rem;
}
.contact-page .top-details-container .image-container img {
  width: 3rem;
  min-width: 3rem;
}
.contact-page .bottom-details-container .social-links {
  padding-top: 1rem;
}
.contact-page .bottom-details-container .social-links img {
  width: 3rem;
  margin-right: 0.8rem;
}

.album-image-block img {
  height: 200px;
  object-fit: cover;
}
.album-image-block .card-footer {
  background-color: rgba(0, 0, 0, 0.03);
}

.album {
  cursor: pointer;
}
.album .card-body {
  padding: 0;
}
.album .card-body img {
  height: 200px;
  object-fit: cover;
}
.album .card-footer {
  padding: 5px 5px 5px 15px;
}
.album .card-footer .card-title {
  margin-bottom: 0;
}

.album-image .ivu-card-body {
  padding: 0;
  height: 150px;
  background-color: #F5F7F9;
}
.album-image .ivu-card-body img {
  object-fit: contain;
}
.album-image .del-image-icon {
  transition: 0.3s;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
}
.album-image .del-image-icon .action-buttons {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #f6f2e9;
  cursor: pointer;
}
.album-image .del-image-icon:hover {
  opacity: 1;
}

.activity-container .card, .about-section-container .card {
  transition: 0.3s;
}
.activity-container .card:hover, .about-section-container .card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.role-container .table-block {
  border: 1px solid green;
  padding: 0 20px;
}

.user-container .table-block {
  border: 1px solid green;
  padding: 0 20px;
}
.user-container .table-block .user-avatar {
  margin-right: 10px;
}

.about-section-container .card .ivu-dropdown .ivu-icon {
  padding: 20px 3px;
}

.pagination-container .pagination .page-item .page-link {
  transition: 0.3s;
  border: 1px solid #868e96 !important;
}
.pagination-container .pagination .page-item .page-link:hover {
  background-color: #148DA0 !important;
  color: #f6f2e9 !important;
}
.pagination-container .pagination .page-item .page-link:link {
  box-shadow: none;
  border: 1px solid #148DA0 !important;
}
.pagination-container .pagination .page-item.disabled:not(.page-text) .page-link {
  background-color: #868e96 !important;
}

.gallery-album-container .card .ivu-dropdown .ivu-dropdown-menu .ivu-dropdown-item, .about-section-container .card .ivu-dropdown .ivu-dropdown-menu .ivu-dropdown-item, .about-panel-container .card .ivu-dropdown .ivu-dropdown-menu .ivu-dropdown-item {
  padding: 0;
}
.gallery-album-container .card .ivu-dropdown .ivu-dropdown-menu .ivu-dropdown-item a, .about-section-container .card .ivu-dropdown .ivu-dropdown-menu .ivu-dropdown-item a, .about-panel-container .card .ivu-dropdown .ivu-dropdown-menu .ivu-dropdown-item a {
  transition: 0.3s;
  padding: 7px 15px;
  color: #386641;
}
.gallery-album-container .card .ivu-dropdown .ivu-dropdown-menu .ivu-dropdown-item:hover a, .about-section-container .card .ivu-dropdown .ivu-dropdown-menu .ivu-dropdown-item:hover a, .about-panel-container .card .ivu-dropdown .ivu-dropdown-menu .ivu-dropdown-item:hover a {
  background-color: #a7c957;
  color: #f6f2e9 !important;
}

.role-form-container, .user-form-container {
  padding: 40px 20px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.table_image img {
  width: 40px;
}

/*# sourceMappingURL=style.css.map */
