<template>
    <div class="layout">
            <Layout :style="{minHeight: '100vh'}">
                <Sider collapsible :collapsed-width="0" v-model="isCollapsed" :style="{background: '#fff'}">

                    <Menu active-name="/dashboard" theme="light" width="auto" :class="menuitemClasses">
                        <MenuItem name="dashboard" :to="{ name: 'dashboard' }">
                            <Icon type="ios-speedometer" />
                            <span> Dashboard</span>
                        </MenuItem>
                        <MenuItem name="home-banners" :to="{ name: 'home.banners' }">
                            <Icon type="md-home" />
                            <span> Homepage Banners</span>
                        </MenuItem>
                        <Submenu name="about-contents">
                            <template slot="title">
                                <Icon type="md-settings" />
                                <span> About Contents</span>
                            </template>
                            <MenuItem name="about-sections" :to="{ name: 'about.sections' }">Sections</MenuItem>
                            <MenuItem name="about-panels" :to="{ name: 'about.panels' }">Panels</MenuItem>
                        </Submenu>
                        <MenuItem name="board-members" :to="{ name: 'about.boards' }">
                            <Icon type="ios-people" />
                            <span> Board Members</span>
                        </MenuItem>
                        <MenuItem name="activities" :to="{ name: 'activities' }">
                            <Icon type="md-bookmarks" />
                            <span> Activities</span>
                        </MenuItem>
                        <MenuItem name="galleries" :to="{ name: 'gallery.albums' }">
                            <Icon type="md-photos" />
                            <span> Galleries</span>
                        </MenuItem>
                        <MenuItem name="users" :to="{ name: 'users' }">
                            <Icon type="md-people" />
                            <span> Users</span>
                        </MenuItem>
                        <Submenu name="settings">
                            <template slot="title">
                                <Icon type="md-settings" />
                                <span> Settings</span>
                            </template>
                            <MenuItem name="general-settings" :to="{ name: 'settings.general' }">General</MenuItem>
                            <MenuItem name="social-media" :to="{ name: 'settings.socials' }">Social Media</MenuItem>
                        </Submenu>
                        
                    </Menu>
                </Sider>
                <Layout>
                    <Header :style="{background: '#fff', boxShadow: '0 2px 3px 2px rgba(0,0,0,.1)'}"></Header>
                    <Content :style="{padding: '0 16px 16px'}">
                        <Card class="my-4">
                            <router-view />
                        </Card>
                    </Content>
                </Layout>
            </Layout>
        </div>
    
</template>
<script>
export default {
        data () {
            return {
                isCollapsed: false
            };
        },
        
        computed: {
            menuitemClasses: function () {
                return [
                    'menu-item',
                    this.isCollapsed ? 'collapsed-menu' : ''
                ]
            }
        }
    }
</script>
<style scoped>
    .layout-con{
        height: 100%;
        width: 100%;
    }
    .menu-item span{
        display: inline-block;
        /* overflow: hidden; */
        width: 69px;
        /* text-overflow: ellipsis; */
        white-space: nowrap;
        vertical-align: bottom;
        transition: width .2s ease .2s;
    }
    .menu-item i{
        transform: translateX(0px);
        transition: font-size .2s ease, transform .2s ease;
        vertical-align: middle;
        font-size: 16px;
    }
    .collapsed-menu span{
        width: 0px;
        transition: width .2s ease;
        overflow: hidden;
        white-space: nowrap;
    }
    .collapsed-menu i{
        transform: translateX(5px);
        transition: font-size .2s ease .2s, transform .2s ease .2s;
        vertical-align: middle;
        font-size: 22px;
    }
</style>