<template>
    <div>
        <CatalogNavbar></CatalogNavbar>
        <!-- <AdminNavbar></AdminNavbar> -->
    </div>
</template>
<script>
    import AdminNavbar from '../admin/components/Navbar';
    import CatalogNavbar from '../catalog/components/Navbar';
    export default {
        components: { AdminNavbar, CatalogNavbar }
    }
</script>