<template>
    <div class="about-page">
        <div class="container">
            <!-- About Sections -->
            <div v-for="(section, i) in sections" :key="i">
                <section class="section-space" v-if="!(i % 2)">
                    <div class="row">
                        <div class="col-sm-6">
                            <img :src="section.image_path" :alt="section.title" class="img-fluid" />
                        </div>
                        <div class="col-sm-6">
                            <h2 class="section-title text-left" v-if="i == 0">
                                <span class="highlight1">About</span>
                                <span class="highlight2">Us</span>
                            </h2>
                            <h3>{{ section.title }}</h3>
                            <div class="about-content" v-html="section.description"></div>
                        </div>
                    </div>
                </section>
                <section class="section-space" v-else >
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>{{ section.title }}</h3>
                            <div class="about-content" v-html="section.description"></div>
                        </div>
                        <div class="col-sm-6">
                            <img :src="section.image_path" :alt="section.title" class="img-fluid" />
                        </div>
                    </div>
                </section>
            </div>

            <!-- About Panel -->
            <section class="bottom-content section-space d-none d-sm-block">
				<nav>
					<div class="nav nav-tabs" id="nav-tab">
						<a v-for="(panel, i) in panels" :key="i" class="nav-item nav-link" v-bind:class="[{ active: i == 0 }]" :id="`nav-tab-${i}`" data-toggle="tab" :href="`#nav-${i}`" role="tab" v-bind:aria-controls="`nav-${i}`" :aria-selected="`${i == 0 ? 'true' : 'false' }`" @click="hidePanelContent = true">{{ panel.title }}</a>
						
                        
                        
                            <!-- <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">PSGG Officers</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Tab #3</a> -->
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<!-- <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						<div class="mission">
							<h3 class="highlight1">Mission</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, expedita atque eos quaerat tenetur excepturi animi ipsa cupiditate provident dolor illum praesentium, quae, corrupti laboriosam delectus tempore? Quam, dolorum, reprehenderit!</p>
						</div>
						<div class="vision">
							<h3 class="highlight2">Vision</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptatem molestias tenetur perferendis doloribus earum hic autem ipsa vitae, doloremque neque, aperiam sapiente aliquam consequatur fugiat optio, dolor voluptates rem.</p>
						</div>
					</div> -->
                    <div id="nav-0" role="tabpanel" class="tab-pane fade active show" aria-labelledby="`nav-tabv-0" v-if="!hidePanelContent">
                        <div v-for="(section, i) in panels[0].about_panel_sections" :key="i" class="panel-section-gutter d-flex align-items-center p-3">
                            <div class="image-block w-50" v-if="!section.image_path.includes('no_image')">
                                <img :src="section.image_path" :alt="section.title">
                            </div>
                            <div class="content-block p-3" :class="section.image_path.includes('no_image') ? 'w-100' : 'w-50 pl-5'">
                                <h3 class="content-title">{{ section.title }}</h3>
                                <div class="content-description" v-html="section.description"></div>
                            </div>
                        </div>
                    </div>
					<div v-for="(panel, i) in panels" :key="i" class="tab-pane fade" :id="`nav-${i}`" role="tabpanel" v-bind:aria-labelledby="`nav-tab-${i}`">
                        <div v-for="(section, index) in panel.about_panel_sections" :key="index" :class="`panel-section-gutter d-flex align-items-center p-3 section-${index+1}`">
                            <div class="image-block w-50" v-if="!section.image_path.includes('no_image')">
                                <img :src="section.image_path" :alt="section.title">
                            </div>
                            <div class="content-block p-3" :class="section.image_path.includes('no_image') ? 'w-100' : 'w-50 pl-5'">
                                <h3 class="content-title">{{ section.title }}</h3>
                                <div class="content-description" v-html="section.description"></div>
                            </div>
                        </div>
                    </div>
				</div>
			</section>
            
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            sections: [],
            panels: [],
            hidePanelContent: false,
        }
    },
    created() {
        this.getSections();
        this.getPanels();
    },
    methods: {
        async getSections() {
            this.$Loading.start();
            this.token = window.Laravel.csrfToken;
            const res = await this.callApi("get", "api/cat_sections");
            if (res.status === 200) {
                this.sections = res.data;
                this.$Loading.finish();
            } else {
                this.swr();
                this.$Loading.error();
            }
        },
        async getPanels() {
            this.$Loading.start();
            this.token = window.Laravel.csrfToken;
            const res = await this.callApi("get", "api/cat_panels");
            if (res.status === 200) {
                this.panels = res.data;
                console.log(this.panels);
                this.$Loading.finish();
            } else {
                this.swr();
                this.$Loading.error();
            }
        }
    }
}
</script>