<template>
    <div class="activity-page">
        <div class="container">
            <section class="section-space">
                <h2 class="section-title text-center">
                    <span class="highlight1">Our</span>
                    <span class="highlight2">Activities</span>
                </h2>
                <div class="row">
                    <div class="col-sm-4 col-lg-3 p-2 pb-5" v-for="(activity, i) in activities" :key="i">
                        <div class="card h-100">
                            <!-- <img class="card-img-top" :src="activity.featured_image" v-bind:alt="activity.title" v-if="!activity.featured_image.includes('no_image') && activity.activity_images"> -->
                            <img class="card-img-top" :src="activity.featured_image" v-bind:alt="activity.title" v-if="!activity.featured_image.includes('no_image')">
                            <img class="card-img-top" :src="activity.latest_image.image_path" v-bind:alt="activity.title" v-else-if="activity.featured_image.includes('no_image') && activity.latest_image != null">
                            <img class="card-img-top" :src="activity.featured_image" v-bind:alt="activity.title" v-else>
                            <div class="card-body p-3">
                                <h5 class="card-title pt-2">{{ activity.title }}</h5>
                                <p class="card-text mb-3">
                                    {{ activity.short_description }}
                                </p>
                                <a hhref="#" @click.prevent="goToActivity(activity)" class="btn btn-view btn-md">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <nav aria-label="activities pagination" class="pagination-nav" v-if="pagination.page_total > 3">
                <ul class="pagination justify-content-center">
                    <li class="page-item" v-for="(page, i) in pagination.pages" :key="i">
                        <a class="page-link" href="#" @click.prevent="getActivities(page.url)" v-bind:class="[{ active: page.active }]" :disabled="!page.url || page.active">
                            <span v-if="i == 0">&laquo;</span>
                            <span v-else-if="i == (pagination.pages.length-1)">&raquo;</span>
                            <span v-else>{{ page.label }}</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            activities: [],
            pagination: {},
        }
    },
    created() {
        this.getActivities();
    },
    methods: {
        async getActivities(url) {
            this.$Loading.start();
            this.token = window.Laravel.csrfToken;
            let vm = this;
            let page_url = url ? url : "api/cat_activities";
            const res = await this.callApi("get", page_url);
            if (res.status === 200) {
                this.activities = res.data.data;
                vm.makePagination(res.data);
                this.$Loading.finish();
            } else {
                this.swr();
                this.$Loading.error();
            }
        },
        makePagination(data) {
            let pagination = {
                current_page: data.current_page,
                last_page: data.last_page,
                next_page_url: data.next_page_url,
                prev_page_url: data.prev_page_url,
                total: data.total,
                pages: data.links,
                page_total: data.links.length
            };
            this.pagination = pagination;
        },
        goToActivity(activity) {
            this.$router.push({
                name: "activity.inner",
                params: {
                    id: activity.id,
                },
            });
        }
    }
}
</script>