<template>
     <div class="activity-inner-page">
          <div class="container">
               <section class="section-space">
				<h2 class="section-title text-center">
					<span class="highlight1">Our</span>
					<span class="highlight2">Activity</span>
				</h2>
				<div class="activity-block">
					<div class="image-block text-center">
                              <div v-bind:id="'activityImages'+activity.id" class="carousel slide" data-ride="carousel" >
                                   <div class="carousel-inner">
                                        <div class="carousel-item" v-for="(image, i) in activity.activity_images" :key="i" v-bind:class="{active: i == 0}">
                                             <img class="d-block w-100" :src="image.image_path" alt="slide image" />
                                        </div>
                                   </div>
                                   <a class="carousel-control-prev" v-bind:href="'#activityImages'+activity.id" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                   </a>
                                   <a class="carousel-control-next" v-bind:href="'#activityImages'+activity.id" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                   </a>
                              </div>
					</div>
					<div class="activity-details pt-5">
						<h3 class="text-center">{{ activity.title }}</h3>
						<div class="activity-text pt-3 pb-3">
							{{ activity.description }}
						</div>
					</div>
					<div class="button-block text-center">
						<a href="#" @click.prevent="goBack" class="btn btn-view">Back</a>						
					</div>
				</div>
			</section>
          </div>
     </div>
</template>
<script>
export default {
     data() {
          return {
               activityId: this.$route.params.id,
               activity: {},
          }
     },
     created() {
          this.laodActivity();
     },
     methods: {
          async laodActivity() {
               this.$Loading.start();
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("get", `api/cat_activity/${this.activityId}`);
               if (res.status === 200) {
                    this.activity = res.data;
                    if (!this.activity.id) {
                         this.$router.push({
                              name: "activity"
                         });
                    }
                    this.$Loading.finish();
               } else {
                    this.swr();
                    this.$Loading.error();
               }
          },
          goBack() {
               window.history.back();
          }
     },
}
</script>