<template>
    <div class="contact-page">
        <div class="container pb-5">
            <section class="contact-container section-space">
				<div class="row">
					<div class="col-sm-7">
						<div class="map-container">
                            <div v-html="settings.google_map"></div>
						</div>
					</div>
					<div class="col-sm-5">
						<h2 class="section-title text-left">
							<span class="highlight1">Contact</span>
							<span class="highlight2">Us</span>
						</h2>
						<div class="top-details-container">
							<div class="info-container address-container d-flex">
								<div class="image-container">
									<img class="img-fluid" src="/uploads/add-icon2.png" alt="Address" />
								</div>
								<div class="details-container">
									<h3 class="highlight3">Address</h3>
									<p v-html="settings.address"></p>
								</div>
							</div>

							<div class="info-container email-container d-flex">
								<div class="image-container">
									<img class="img-fluid" src="/uploads/email-icon2.png" alt="Email" />
								</div>
								<div class="details-container">
									<h3 class="highlight3">Email</h3>
									<p v-html="settings.email"></p>
								</div>
							</div>

							<div class="info-container phone-container d-flex">
								<div class="image-container">
									<img class="img-fluid" src="/uploads/tel-icon2.png" alt="Phone" />
								</div>
								<div class="details-container">
									<h3 class="highlight3">Phone</h3>
									<p v-html="settings.contact_number"></p>
								</div>
							</div>
						</div>

						<div class="bottom-details-container">
							<h3>
								<span class="highlight1">SEND A</span>
								<span class="highlight2">MESSAGE</span>
							</h3>
							<div class="social-links d-flex">
                                <a :href="social.link" v-for="(social, i) in settings.social_media" :key="i" target="_blank">
                                    <img class="img-fluid" :src="social.image_path" :alt="social.name">
                                </a>
							</div>
						</div>
					</div>
				</div>
			</section>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            settings: [],
        }
    },
    created() {
        this.getSetting();
    },
    methods: {
        async getSetting() {
            this.token = window.Laravel.csrfToken;
            const res = await this.callApi("get", 'api/cat_setting');
            if (res.status === 200) {
                this.settings = res.data;
                console.log(this.settings);
                this.$Loading.finish();                    
            } else {
                this.swr();
                this.$Loading.error();
            }
        }
    }
}
</script>