<template>
    <div class="gallery-page">
        <div class="container">
            <section class="section-space">
                <h2 class="section-title text-center">
                    <span class="highlight1">Our</span>
                    <span class="highlight2">Gallery</span>
                </h2>
                <div class="row">
                    <div class="col-sm-4 col-lg-3 p-1" v-for="(album, i) in albums" :key="i">
                        <div class="album-container">
                            <div class="album-image position-relative">
                                <a href="#" @click.prevent="goToAlbum(album)">
                                    <img :src="album.album_image" v-bind:alt="album.name" class="img-fluid" />
                                    <span class="text-view position-absolute">View More</span>
                                </a>
                            </div>
                            <h5 class="album-title text-center">
                                <a href="#" @click.prevent="goToAlbum(album)">{{ album.name }}</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </section>
            <nav aria-label="gallery pagination" class="pagination-nav" v-if="pagination.page_total > 3">
                <ul class="pagination justify-content-center">
                    <li class="page-item" v-for="(page, i) in pagination.pages" :key="i">
                        <a class="page-link" href="#" @click.prevent="getAlbums(page.url)" v-bind:class="[{ active: page.active }]" :disabled="!page.url || page.active">
                            <span v-if="i == 0">&laquo;</span>
                            <span v-else-if="i == (pagination.pages.length-1)">&raquo;</span>
                            <span v-else>{{ page.label }}</span>
                        </a>
                    </li>
                </ul>
            </nav>	
        </div>            
    </div>
</template>
<script>
export default {
    data(){
        return {
            albums: [],
            pagination: {},
        }
    },
    created() {
        this.getAlbums();
    },
    methods: {
        async getAlbums(url) {
            this.$Loading.start();
            this.token = window.Laravel.csrfToken;
            let vm = this;
            let page_url = url ? url : "api/cat_albums";
            const res = await this.callApi("get", page_url);
            if (res.status === 200) {
                this.albums = res.data.data;
                vm.makePagination(res.data);
                this.$Loading.finish();
            } else {
                this.swr();
                this.$Loading.error();
            }
        },
        makePagination(data) {
            let pagination = {
                current_page: data.current_page,
                last_page: data.last_page,
                next_page_url: data.next_page_url,
                prev_page_url: data.prev_page_url,
                total: data.total,
                pages: data.links,
                page_total: data.links.length
            };
            this.pagination = pagination;
        },
        goToAlbum(album) {
            this.$router.push({
                name: "gallery.inner",
                params: {
                    id: album.id,
                },
            });
        }
    }
}
</script>