<template>
     <div class="gallery-inner-page">
          <div class="container">
               <section class="section-space">
                    <h2 class="section-title text-center">
                         <span class="highlight1">Our</span>
                         <span class="highlight2">Gallery</span>
                    </h2>
                    <h3>{{ album.name }}</h3>
                    <div class="album-images">
                         <div class="row popup-gallery">
                              <div class="col-sm-4 col-lg-3 p-1" v-for="(image, i) in album.gallery_images" :key="i">
                                   <div class="album-image">
                                        <span :href="image.image_path">
                                             <img :src="image.image_path" class="img-fluid" :alt="image.name">
                                        </span>
                                   </div>
                              </div>                         
                         </div>
                    </div>
               </section>
          </div>
     </div>
</template>
<script>
export default {
     data() {
          return {
               albumId: this.$route.params.id,
               album: {},
          }
     },
     created() {
          this.loadAlbum();
     },
     methods: {
          async loadAlbum() {
               this.$Loading.start();
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("get", `api/cat_album/${this.albumId}`);
               if (res.status === 200) {
                    this.album = res.data;
                    if (!this.album.id) {
                         this.$router.push({
                              name: "gallery"
                         });
                    }
                    this.loadMagnificScript();
                    this.$Loading.finish();
               } else {
                    this.swr();
                    this.$Loading.error();
               }
          },
          loadMagnificScript() {
               // Magnific Popup
               $(document).ready(function() {
                    $('.popup-gallery').magnificPopup({
                         delegate: 'span',
                         type: 'image',
                         tLoading: 'Loading image #%curr%...',
                         mainClass: 'mfp-img-mobile',
                         gallery: {
                         enabled: true,
                         navigateByImgClick: true,
                         preload: [0,1] // Will preload 0 - before current, and 1 after the current image
                         },
                         image: {
                         tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                         // titleSrc: function(item) {
                         //     return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';
                         // }
                         }
                    });
                    
               });
          }
     }
}
</script>