<template>
    <div class="home-page">
        <div id="homeCarousel" class="carousel slide home-banner" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#homeCarousel" v-for="(banner, i) in banners" :key="i" :data-slide-to="i" :class="{active: i == 0}"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item" v-for="(banner, i) in banners" :key="i" :class="{active: i == 0}">
                    <img class="d-block w-100" :src="banner.image_path" :alt="banner.title">
                    <div class="carousel-caption d-none d-md-flex flex-md-row flex-wrap justify-content-center align-items-center position-absolute caption-top text-center" v-if="banner.text_position == 'Top'" :class="banner.theme=='Light' ? 'cap-dark' :'cap-light'">
                        <h2>{{ banner.title }}</h2>
                        <p>{{ banner.description }}</p>
                    </div>
                    <div class="carousel-caption d-none d-md-flex flex-md-column justify-content-center align-items-start position-absolute caption-left text-left" v-if="banner.text_position == 'Left'" :class="banner.theme=='Light' ? 'cap-dark' :'cap-light'">
                        <h2>{{ banner.title }}</h2>
                        <p>{{ banner.description }}</p>
                    </div>
                    <div class="carousel-caption d-none d-md-flex flex-md-row flex-wrap justify-content-center align-items-center position-absolute caption-bottom text-center" v-if="banner.text_position == 'Bottom'" :class="banner.theme=='Light' ? 'cap-dark' :'cap-light'">
                        <h2>{{ banner.title }}</h2>
                        <p>{{ banner.description }}</p>
                    </div>
                    <div class="carousel-caption d-none d-md-flex flex-md-column justify-content-center align-items-start position-absolute caption-right text-left" v-if="banner.text_position == 'Right'" :class="banner.theme=='Light' ? 'cap-dark' :'cap-light'">
                        <h2>{{ banner.title }}</h2>
                        <p>{{ banner.description }}</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev car-arrow" href="#homeCarousel" role="button" data-slide="prev">
                <div class="icon-container">
                    <i class="fas fa-chevron-left"></i>			
                </div>
            </a>
            <a class="carousel-control-next car-arrow" href="#homeCarousel" role="button" data-slide="next">
                <div class="icon-container">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </a>
        </div>
        <!-- ANNOUNCEMENT SECTION-->
        <section class="container home-announcement">
            <div class="section-space">
                <h2 class="section-title text-center">
                    <span class="highlight1">Our</span>
                    <span class="highlight2">Announcement</span>
                </h2>

                <div class="card-deck">
                    <div class="card" v-for="(activity, i) in activities" :key="i">
                        <img class="card-img-top" :src="activity.featured_image" v-bind:alt="activity.title" v-if="!activity.featured_image.includes('no_image')">
                        <img class="card-img-top" :src="activity.latest_image.image_path" v-bind:alt="activity.title" v-else-if="activity.featured_image.includes('no_image') && activity.latest_image != null">
                        <img class="card-img-top" :src="activity.featured_image" v-bind:alt="activity.title" v-else>
                        <div class="card-body p-3">
                            <h5 class="card-title pt-2">{{ activity.title }}</h5>
                            <p class="card-text mb-3">
                                {{ activity.short_description }}
                            </p>
                            <a hhref="#" @click.prevent="goToActivity(activity)" class="btn btn-view btn-md">Read More</a>
                        </div>
                    </div>
                </div>		
            </div>
        </section>
    </div>
</template>
<script>
export default {
    data(){
        return {
            banners: [],
            activities: {},
        }
    },
    created() {
        this.getBanners();
        this.getFeaturedActivities();
    },
    methods: {
        async getBanners() {
            this.token = window.Laravel.csrfToken;
            const res = await this.callApi("get", 'api/cat_banners');
            if (res.status === 200) {
                this.banners = res.data;
                this.$Loading.finish();                    
            } else {
                this.swr();
                this.$Loading.error();
            }
        },
        
        async getFeaturedActivities() {
            this.token = window.Laravel.csrfToken;
            const res = await this.callApi("get", 'api/cat_featured_activities');
            if (res.status === 200) {
                this.activities = res.data;
                this.loadSlick();
                console.log(this.activities);
                this.$Loading.finish();                    
            } else {
                this.swr();
                this.$Loading.error();
            }
        },
        loadSlick() {
            // SLICK JS
            $(document).ready(function(){
                $('.card-deck').slick({
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    arrows: true,
                    responsive: [
                        {
                            breakpoint: 1199,
                            settings: {
                            slidesToShow: 3,
                            }
                        },
                        {
                            breakpoint: 991,
                            settings: {
                            slidesToShow: 2,
                            }
                        },
                        {
                            breakpoint: 767,
                            settings: {
                            slidesToShow: 2,
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                            slidesToShow: 1,
                            }
                        }
                    ],
                    prevArrow: "<div class='slick-nav position-absolute prev'><div class='position-absolute icon-container'><i class='fas fa-chevron-left'></i></div></div>",
                    nextArrow: "<div class='slick-nav position-absolute next'><div class='position-absolute icon-container'><i class='fas fa-chevron-right'></i></div></div>",

                });
            });
        },
        goToActivity(activity) {
            this.$router.push({
                name: "activity.inner",
                params: {
                    id: activity.id,
                },
            });
        }
    }
}
</script>