<template>
     <div class="login-page">
          <div class="container">
               <section class="section-space">
				<div class="row">
					<div class="offset-sm-3 col-sm-6 offset-lg-4 col-lg-4 ">
					<div class="card text-center border-0">
						<h2 class="section-title">
							<span class="highlight1">Account</span>
							<span class="highlight2">Login</span>
						</h2>
						<div class="card-body">
							<form>
								<div class="form-group text-left">
									<label for="email">Email</label>
									<input v-model="data.email" type="email" class="form-control" aria-describedby="emailHelp">
								</div>
								<div class="form-group text-left">
									<label for="password">Password</label>
									<input v-model="data.password" type="password" class="form-control" >
								</div>
								<a href="#" @click.prevent="validateForm" class="btn btn-view" :disabled="isLoggingIn" :loading="isLoggingIn">{{ isLoggingIn ? 'Loading...' : 'Login'}}</a>
							</form>
						</div>
					</div>
						
					</div>
				</div>				
			</section>
          </div>
     </div>
</template>
<script>
export default {
     data() {
          return {
               data: {
                    email: '',
                    password: '',
               },
               isLoggingIn: false,
          }
     },
     methods: {
          validateForm() {
               if (this.data.email.trim() == "") return this.e("Email is required");
               if (this.data.password.trim() == "") return this.e("Password is required");
               if (this.data.password < 9) return this.e("Incorrect login details");
               this.login();
          },
          async login() {
               this.$Loading.start();
               this.isLoggingIn = true;
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("post", "api/user_login", this.data);
               if (res.status === 200) {
                    this.s(res.data.msg)
                    console.log(res);
                    this.$Loading.finish();
               } else {
                    if(res.status === 401) {
                         this.e(res.data.msg)

                    } else if(res.status === 422){
                         for(let i in res.data.errors) {
                              this.e(res.data.errors[i][0]);
                         }
                    } else {                              
                         this.swr();
                    }
                    this.$Loading.error();
               }
               this.isLoggingIn = false;
          }
     }
}
</script>