<template>
     <div class="about-panel-container">
          <div class="heading-block d-flex justify-content-between align-items-center mb-3">
               <h2 class="mb-0">About Panels</h2>
               <Button @click="modal = true"><Icon type="md-add" />Add panel</Button>
          </div>
          <div v-if="sectionForm" class="card bg-light mb-5">
               <h3 class="card-title text-center p-3 mb-2">Adding Section to {{ sectionFormTitle }}</h3>
               <Form label-position="top" class="p-5">
                    <Row type="flex" justify="space-between" class="code-row-bg">
                         <Col span="11">
                              <FormItem label="Image">
                                   <div v-bind:class="[section.image_path && section.image_path != '/uploads/no_image.jpg' ? 'd-none' : '']">
                                        <Upload
                                             ref="uploads"
                                             :headers="{
                                                  'x-csrf-token': token,
                                                  'X-Requested-With': 'XMLHttpRequest',
                                             }"
                                             :on-success="handleSuccess"
                                             :on-error="handleError"
                                             :format="['jpg', 'jpeg', 'png', 'gif']"
                                             :on-format-error="handleFormatError"
                                             :max-size="2048"
                                             :on-exceeded-size="handleMaxSize"
                                             action="/app/upload"
                                        >
                                             <Button icon="ios-cloud-upload-outline">Upload Image</Button>
                                        </Upload>
                                   </div>
                                   <div class="demo-upload-list" v-if="section.image_path && section.image_path != '/uploads/no_image.jpg'">
                                        <img v-if="section.image_path.includes(`/uploads/`)" :src="section.image_path" alt="image" />
                                        <img v-else :src="`/uploads/${section.image_path}`" alt="image" />
                                        <div class="demo-upload-list-cover">
                                        <Icon type="ios-trash-outline" @click="deleteImage"></Icon>
                                        </div>
                                   </div>
                              </FormItem>
                         </Col>
                         <Col span="11">
                              <FormItem label="Title">
                                   <Input v-model="section.title" />
                              </FormItem>
                         </Col>
                         <Col span="24">
                              <vue-editor v-model="section.description"></vue-editor>
                         </Col>
                    </Row>
                    <FormItem>
                         <Button type="primary" @click="validateSectionForm" :disabled="isSaving" :loading="isSaving" >{{ isSaving ? "Saving.." : "Save" }}</Button>
                    </FormItem>
               </Form>
          </div>

          <Divider orientation="center"><h3>Panel List</h3></Divider>
          <div v-if="!panels.length">
               <h3 class="text-center my-5">No panel to display.</h3>
          </div>
          <div v-else v-for="(panel, i) in panels" :key="i">
               <div class="card bg-light mb-3">
                    <div class="card-body">
                         <div class="row">
                              <div class="col-md-7 col-lg-9">
                                   <h3 class="card-title mb-0">{{ panel.title }}</h3>
                              </div>
                              <div class="col-md-5 col-lg-3 text-right">
                                   <Button @click="showAddSectionForm(panel.id, panel.title)"><Icon type="md-add" />Add section</Button>
                                   <Dropdown trigger="click" >
                                        <a href="javascript:void(0)">
                                             <Icon type="md-more" size="22" color="#33475c" />
                                        </a>
                                        <DropdownMenu slot="list">
                                             <DropdownItem><a href="#" class="d-block text-left" @click.prevent="editPanel(panel, i)">Edit</a></DropdownItem>
                                             <DropdownItem><a href="#" class="d-block text-left" @click.prevent="showDeleteModal(panel, panel.id, i)">Delete</a></DropdownItem>
                                        </DropdownMenu>
                                   </Dropdown>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="card bg-light mb-3 ml-5" v-for="(panel_section, count) in panel.about_panel_sections" :key="count">
                    <div class="row">
                         <div class="col-md-3">
                              <img v-if="panel_section.image_path.includes('/uploads/')" :src="panel_section.image_path" v-bind:alt="panel_section.title" />
                              <img v-else-if="!panel_section.image_path" :src="`/uploads/no_image.jpg`" v-bind:alt="panel_section.title" />
                              <img v-else :src="`/uploads/${panel_section.image_path}`" v-bind:alt="panel_section.title" />
                         </div>
                         <div class="col-md-9">
                              <div class="card-body">
                                   <div class="row">
                                        <div class="col-md-10">
                                             <h3 class="card-title">{{ panel_section.title }}</h3>
                                             <div v-html="panel_section.description"></div>
                                        </div>
                                        <div class="col-md-2 text-right">
                                             <Dropdown trigger="click" >
                                                  <a href="javascript:void(0)">
                                                       <Icon type="md-more" size="22" color="#33475c" />
                                                  </a>
                                                  <DropdownMenu slot="list">
                                                       <DropdownItem><a href="#" class="d-block text-left" @click.prevent="showEditSectionForm(panel.id, panel_section)">Edit</a></DropdownItem>
                                                       <DropdownItem><a href="#" class="d-block text-left" @click.prevent="showDeleteModal(panel_section, panel_section.id, count, is_section = true)">Delete</a></DropdownItem>
                                                  </DropdownMenu>
                                             </Dropdown>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>



          <!-- Add Modal -->
          <Modal v-model="modal" title="Add Panel" :mask-closable="false" :closable="false">
               <Input v-model="panel.title" placeholder="Enter Title" class="my-2" />
               <div slot="footer">
                    <Button type="default" @click="modal = false" >Close</Button>
                    <Button type="primary" @click="validateForm" :disabled="isSaving" :loading="isSaving" >{{ isSaving ? "Saving..." : "Save" }}</Button>
               </div>
          </Modal>
          <deleteModal></deleteModal>
     </div>
</template>
<script>
import deleteModal from "../components/DeleteModal.vue";
import { mapGetters } from "vuex";
import { VueEditor } from "vue2-editor";
export default {
     data() {
          return {
               panels: [],
               sections: [],
               panel: {
                    id: '',
                    title: '',
                    about_id: 1,
               },
               section: {
                    id: '',
                    title: '',
                    description: '',
                    image_path: '',
                    about_id: 1,
                    about_panel_id: '',
               },
               modal: false,
               sectionForm: false,
               sectionFormTitle: '',
               deleteModal: false,
               edit: false,
               editSection: false,
               isSaving: false,
               index: 0,
               badChars: /^[a-zA-Z0-9-.,!/n ]+$/,
          }
     },
     created() {
          this.getPanels();
     },
     methods: {
          async getPanels() {
               this.$Loading.start();
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("get", 'api/about_panels');
               if (res.status === 200) {
                    this.panels = res.data;
                    this.$Loading.finish();                    
               } else {
                    this.swr();
                    this.$Loading.error();
               }
          },
          validateForm() {
               if (this.panel.title.trim() == "") return this.e("Title is required");
               if (!this.edit) {
                    this.createPanel();
               } else {
                    this.saveEditedPanel();
               }
          },
          async createPanel() {
               this.isSaving = true;
               const res = await this.callApi("post", "api/about_panel", this.panel);
               if(res.status === 200) {
                    this.isSaving = false;
                    this.modal = false;
                    this.edit = false;
                    this.panel.id = '';
                    this.panel.title = '';
                    this.panel.about_id = 1;
                    this.panels.push(res.data);
                    this.s("Panel has been added!");
               } else {
                    this.isSaving = false;
                    if(res.status == 422) { 
                         for (let i in res.data.errors) {
                              this.e(res.data.errors[i][0]);
                         }
                    } else {
                         this.swr();
                    }
               }
          },
          editPanel(panel, index) {
               this.edit = true;
               this.modal = true;
               this.index = index;
               this.panel.id = panel.id;
               this.panel.title = panel.title;
          },
          async saveEditedPanel() {
               const res = await this.callApi("patch", `api/about_panel/${this.panel.id}`, this.panel);
               if (res.status === 200) {
                    this.panels[this.index].title = this.panel.title;
                    this.panel.id = '';
                    this.panel.title = '';
                    this.panel.about_id = 1;
                    this.index = 0;
                    this.edit = false;
                    this.modal = false;
                    this.s("Panel has been updated!");
               } else {
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.e(res.data.errors[i][0]);
                         }
                    } else {
                         this.swr();
                    }
               }
          },
          showDeleteModal(panel, id, index, is_section) {
               let urlToDelete = is_section ? `api/about_panel_section/${id}` : `api/about_panel/${id}`;
               const deleteModalObj = {
                    showDeleteModal: true,
                    deleteUrl: urlToDelete,
                    data: panel,
                    deletingIndex: index,
                    isDeleted: false,
               };
               this.$store.commit("setDeletingModalObj", deleteModalObj);
          },
          showAddSectionForm(id, title) {
               this.sectionFormTitle = title;
               this.section.about_panel_id = id;
               this.sectionForm = true;
               this.editSection = false;
               this.section.id = '';
               this.section.title = '';
               this.section.description = '';
               this.section.image_path = '';
               this.section.about_id = 1;
               $(window).scrollTop(0);
          },
          showEditSectionForm(id, section) {
               this.section.about_panel_id = id;
               this.sectionForm = true;
               this.editSection = true;
               this.section.id = section.id;
               this.section.title = section.title;
               this.section.description = section.description;
               this.section.image_path = section.image_path;
               $(window).scrollTop(0);
          },
          deleteSectionForm(index){
               this.sections.splice(index, 1  );
          },
          handleSuccess(res, file) {
               res = `${res}`;
               this.section.image_path = res;
          },
          handleFormatError(file) {
               this.$Notice.warning({
                    title: "The file format is incorrect",
                    desc: "File format of " + file.name + " is incorrect, please select jpg or png.",
               });
          },
          handleError(res, file) {
               this.$Notice.warning({
                    title: "The file format is incorrect",
                    desc: `${file.errors.file.length ? file.errors.file[0]  : "Something went wrong!"}`,
               });
          },
          handleMaxSize(file) {
               this.$Notice.warning({
                    title: "Exceeding file size limit",
                    desc: "File  " + file.name + " is too large, no more than 2M.",
               });
          },
          async deleteImage() {
               let image;
               image = this.section.image_path;
               this.$refs.uploads.clearFiles();
               this.section.image_path = '';
               const res = await this.callApi("post", "app/delete_image", {
                    imageName: image,
               });
               if (res.status != 200) {
                    this.section.image_path = image;
                    this.swr();
               }
          },
          validateSectionForm(){
               if (this.section.title.trim() == "") return this.e("Title is required");
               if (!this.editSection) {
                    this.createSection();
               } else {
                    this.saveEditedSection();
               }
          },
          async createSection(){
               this.isSaving = true;
               const res = await this.callApi("post", "api/about_panel_section", this.section);
               if(res.status === 200) {                    
                    this.isSaving = false;
                    this.sectionForm = false;
                    this.editSection = false;
                    this.section.id = '';
                    this.section.title = '';
                    this.section.description = '';
                    this.section.image_path = '';
                    this.section.about_id = 1;
                    this.section.about_panel_id = '',
                    this.sections.push(res.data);
                    this.s("Section has been added!");
                    this.getPanels();
               } else {
                    this.isSaving = false;
                    if(res.status == 422) { 
                         for (let i in res.data.errors) {
                              this.e(res.data.errors[i][0]);
                         }
                    } else {
                         this.swr();
                    }
               }
          },
          async saveEditedSection(){
               this.isSaving = true;
               const res = await this.callApi("patch", `api/about_panel_section/${this.section.id}`, this.section);
               if(res.status === 200) {                    
                    this.isSaving = false;
                    this.sectionForm = false;
                    this.editSection = false;
                    this.section.id = '';
                    this.section.title = '';
                    this.section.description = '';
                    this.section.image_path = '';
                    this.section.about_id = 1;
                    this.section.about_panel_id = '',
                    this.sections.push(res.data);
                    this.s("Section has been added!");
                    this.getPanels();
               } else {
                    this.isSaving = false;
                    if(res.status == 422) { 
                         for (let i in res.data.errors) {
                              this.e(res.data.errors[i][0]);
                         }
                    } else {
                         this.swr();
                         this.isSaving = false;
                    }
               }
          },
          

     },
     components: {
          VueEditor,
          deleteModal,
     },
     computed: {
          ...mapGetters(["getDeleteModalObj"]),
     },
     watch: {
          getDeleteModalObj(obj) {
               if (obj.isDeleted) {
                    // this.panels.splice(obj.deletingIndex, 1);
                    this.getPanels();
               }
          },
     },
}
</script>