<template>
     <div class="about-section-container">
          <h2 class="mb-3">About Sections</h2>
          <Row :gutter="16">
               <!-- Forms -->
               <Col :xs="24" :lg="{span:16, offset:4 }" :xl="{span:12, offset:6}" :xxl="{span:7, offset:1}" class="my-2">
                    <Divider orientation="center"><h3>Section Form</h3></Divider>
                    <div class="section-form-container">
                    <Form :model="section" label-position="top">
                         <Row type="flex" justify="space-between" class="code-row-bg">
                              <Col span="11">
                                   <FormItem label="Image">
                                        <div v-bind:class="[section.image_path && section.image_path != '/uploads/no_image.jpg' ? 'd-none' : '']">
                                             <Upload
                                                  ref="uploads"
                                                  :headers="{
                                                       'x-csrf-token': token,
                                                       'X-Requested-With': 'XMLHttpRequest',
                                                  }"
                                                  :on-success="handleSuccess"
                                                  :on-error="handleError"
                                                  :format="['jpg', 'jpeg', 'png', 'gif']"
                                                  :on-format-error="handleFormatError"
                                                  :max-size="2048"
                                                  :on-exceeded-size="handleMaxSize"
                                                  action="/app/upload"
                                             >
                                                  <Button icon="ios-cloud-upload-outline">Upload Image</Button>
                                             </Upload>
                                        </div>
                                        <div class="demo-upload-list" v-if="section.image_path && section.image_path != '/uploads/no_image.jpg'">
                                             <img v-if="section.image_path.includes(`/uploads/`)" :src="section.image_path" alt="image" />
                                             <img v-else :src="`/uploads/${section.image_path}`" alt="image" />
                                             <div class="demo-upload-list-cover">
                                             <Icon type="ios-trash-outline" @click="deleteImage"></Icon>
                                             </div>
                                        </div>
                                   </FormItem>
                              </Col>
                              <Col span="11">
                                   <FormItem label="Title">
                                        <Input v-model="section.title" />
                                   </FormItem>
                              </Col>
                              <Col span="24">
                                   <vue-editor v-model="section.description"></vue-editor>
                              </Col>
                         </Row>
                         <FormItem>
                              <Button type="primary" @click="validateForm()" :disabled="isSaving" :loading="isSaving" >{{ isSaving ? "Saving.." : "Save" }}</Button>
                         </FormItem>
                    </Form>
                    </div>

               </Col>
               <Col :xs="24" :lg="{span:16, offset:4 }" :xl="{span:20, offset:2}" :xxl="{span:15, offset:1}" class="my-2">
                    <Divider orientation="center"><h3>Section List</h3></Divider>
                    <div v-if="!sections.length">
                         <h3 class="text-center my-5">No section to display.</h3>
                    </div>
                    <div v-else class="card bg-light mb-2" v-for="(section, i) in sections" :key="i">
                         <div class="row">
                              <div class="col-md-3">
                                   <img v-if="section.image_path.includes('/uploads/')" :src="section.image_path" v-bind:alt="section.title" />
                                   <img v-else-if="!section.image_path" :src="`/uploads/no_image.jpg`" v-bind:alt="section.title" />
                                   <img v-else :src="`/uploads/${section.image_path}`" v-bind:alt="section.title" />
                              </div>
                              <div class="col-md-8">
                                   <div class="card-body">
                                        <h3 class="card-title">{{ section.title }}</h3>
                                        <div v-html="section.description"></div>
                                   </div>

                              </div>
                              <div class="col-md-1">
                                   <Dropdown trigger="click" >
                                        <a href="javascript:void(0)">
                                             <Icon type="md-more" size="22" color="#33475c" />
                                        </a>
                                        <DropdownMenu slot="list">
                                             <DropdownItem><a href="#" class="d-block" @click.prevent="editSection(section, i)">Edit</a></DropdownItem>
                                             <DropdownItem><a href="#" class="d-block" @click.prevent="showDeleteModal(section, section.id, i)">Delete</a></DropdownItem>
                                        </DropdownMenu>
                                   </Dropdown>
                              </div>
                         </div>
                    </div>
               </Col>
          </Row>
          <deleteModal></deleteModal>
     </div>
</template>
<script>
import deleteModal from "../components/DeleteModal.vue";
import { mapGetters } from "vuex";
import { VueEditor } from "vue2-editor";
export default {
     data() {
          return {
               sections: [],
               section: {
                    id: '',
                    title: '',
                    description: '',
                    image_path: '',
                    about_id: 1,
               },
               deleteModal: false,
               edit: false,
               isSaving: false,
               index: 0,
               badChars: /^[a-zA-Z0-9-.,!/n ]+$/,
          }
     },
     created() {
          this.getSections();
     },
     components: {
          VueEditor,
          deleteModal,
     },
     methods: {
          async getSections() {
               this.$Loading.start();
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("get", 'api/about_sections');
               if (res.status === 200) {
                    this.sections = res.data;
                    this.$refs.uploads.clearFiles();
                    this.$Loading.finish();                    
               } else {
                    this.swr();
                    this.$Loading.error();
               }
          },
          handleSuccess(res, file) {
               res = `${res}`;
               this.section.image_path = res;
          },
          handleFormatError(file) {
               this.$Notice.warning({
                    title: "The file format is incorrect",
                    desc: "File format of " + file.name + " is incorrect, please select jpg or png.",
               });
          },
          handleError(res, file) {
               this.$Notice.warning({
                    title: "The file format is incorrect",
                    desc: `${file.errors.file.length ? file.errors.file[0]  : "Something went wrong!"}`,
               });
          },
          handleMaxSize(file) {
               this.$Notice.warning({
                    title: "Exceeding file size limit",
                    desc: "File  " + file.name + " is too large, no more than 2M.",
               });
          },
          async deleteImage() {
               let image;
               image = this.section.image_path;
               this.$refs.uploads.clearFiles();
               this.section.image_path = '';
               const res = await this.callApi("post", "app/delete_image", {
                    imageName: image,
               });
               if (res.status != 200) {
                    this.section.image_path = image;
                    this.swr();
               }
          },
          validateForm(){
               if (this.section.title.trim() == "") return this.e("Title is required");
               if (!this.edit) {
                    this.createSection();
               } else {
                    this.saveEditedSection();
               }
          },
          async createSection(){
               this.isSaving = true;
               const res = await this.callApi("post", "api/about_section", this.section);
               if(res.status === 200) {
                    this.isSaving = false;
                    this.edit = false;
                    this.section.id = '';
                    this.section.title = '';
                    this.section.description = '';
                    this.section.image_path = '';
                    this.section.about_id = '';
                    this.sections.push(res.data);
                    this.s("Section has been added!");
                    this.$refs.uploads.clearFiles();
               } else {
                    this.isSaving = false;
                    if(res.status == 422) { 
                         for (let i in res.data.errors) {
                              this.e(res.data.errors[i][0]);
                         }
                    } else {
                         this.swr();
                    }
               }
          },
          editSection(section, index){
               this.edit = true;
               this.index = index;
               this.section.id = section.id;
               this.section.title = section.title;
               this.section.description = section.description;
               this.section.image_path = section.image_path;
               $(window).scrollTop(0);
          },
          async saveEditedSection(){
               const res = await this.callApi("patch", `api/about_section/${this.section.id}`, this.section);
               if (res.status === 200) {
                    this.edit = false;
                    this.sections[this.index].title = this.section.title;
                    this.sections[this.index].description = this.section.description;
                    this.sections[this.index].image_path = this.section.image_path;
                    this.section.id = '';
                    this.section.title = '';
                    this.section.description = '';
                    this.section.image_path = '';
                    this.s("Section has been updated!");
                    this.$refs.uploads.clearFiles();
               } else {
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.e(res.data.errors[i][0]);
                         }
                    } else {
                         this.swr();
                    }
               }
          },
          showDeleteModal(section, id, index) {
               const deleteModalObj = {
                    showDeleteModal: true,
                    deleteUrl: `api/about_section/${id}`,
                    data: section,
                    deletingIndex: index,
                    isDeleted: false,
               };
               this.$store.commit("setDeletingModalObj", deleteModalObj);
          },
     },
     computed: {
          ...mapGetters(["getDeleteModalObj"]),
     },
     watch: {
          getDeleteModalObj(obj) {
               if (obj.isDeleted) {
                    this.sections.splice(obj.deletingIndex, 1);
               }
          },
     },
}
</script>