<template>
  <div class="activity-container">
    <h2 class="mb-3">Activities</h2>
    <Row :gutter="30">
      <!-- Forms -->
      <Col :xs="24" :lg="{span:16, offset:4 }" :xl="{span:12, offset:6}" :xxl="{span:8, offset:0}" class="my-2">
      <Divider orientation="center"><h2>Form</h2></Divider>
      <Form
        :model="activity"
        label-position="top"
      >
        <FormItem label="Title">
          <Input v-model="activity.title" />
        </FormItem>
        <FormItem label="Short Description">
          <Input v-model="activity.short_description" type="textarea" :rows="3" />
        </FormItem>
        <FormItem label="Description">
          <Input v-model="activity.description" type="textarea" :rows="3" />
        </FormItem>
        <FormItem label="Featured Image">
          <div v-bind:class="[activity.featured_image && activity.featured_image != '/uploads/no_image.jpg' ? 'd-none' : '']">
            <Upload
              ref="uploads"
              :headers="{
                'x-csrf-token': token,
                'X-Requested-With': 'XMLHttpRequest',
              }"
              :on-success="handleSuccess"
              :on-error="handleError"
              :format="['jpg', 'jpeg', 'png', 'gif']"
              :on-format-error="handleFormatError"
              :max-size="2048"
              :on-exceeded-size="handleMaxSize"
              action="/app/upload"
            >
              <Button icon="ios-cloud-upload-outline"
                >Upload Image</Button
              >
            </Upload>
          </div>
          <div class="demo-upload-list" v-if="activity.featured_image && activity.featured_image != '/uploads/no_image.jpg'">
            <img v-if="activity.featured_image.includes('/uploads/')" :src="activity.featured_image" alt="image" />
            <img v-else :src="`/uploads/${activity.featured_image}`" alt="image" />
            <div class="demo-upload-list-cover">
              <Icon type="ios-trash-outline" @click="deleteImage"></Icon>
            </div>
          </div>
        </FormItem>
        <FormItem label="Images">
          <Upload
            ref="multiUploads"
            :headers="{
                'x-csrf-token': token,
                'X-Requested-With': 'XMLHttpRequest',
            }"
            :show-upload-list="true"
            :on-success="handleSuccessMultipleFiles"
            :format="['jpg','jpeg','png']"
            :max-size="2048"
            :on-format-error="handleFormatError"
            :on-exceeded-size="handleMaxSize"
            multiple
            action="app/multi_upload">
            <Button icon="ios-cloud-upload-outline">Upload Images</Button>
        </Upload>
        <div v-if="this.edit == true && activity.images.length">
          <div class="table-block">
            <table class="table table-hover">
                <thead>
                  <tr>
                      <th scope="col">Images</th>
                      <th scope="col" width="105px">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(image, i) in activity.images" :key="i">
                      <td>
                        <img class="d-block w-25" :src="image.image_path" v-bind:alt="image.name" />
                      </td>
                      <td>
                        <a href="#" @click.prevent="showImageDeleteModal(image, image.id, i)">
                            <Icon type="md-trash" class="text-danger mx-1" size="21" />
                        </a>
                      </td>
                  </tr>
                </tbody>
            </table>
      </div>  
        </div>
        </FormItem>


        <FormItem>
          <Button type="primary" @click="validateForm()">Submit</Button>
        </FormItem>
        
      </Form>
      </Col>
      <!-- Activities -->
      <Col :xxl="16" class="my-2">
      <Divider orientation="center"><h2>Activity List</h2></Divider>
      <div class="pagination-container d-flex justify-content-end" >
        <nav aria-label="Activities Pagination">
          <ul class="pagination">
            <li
              class="page-item"
              v-bind:class="[{ disabled: !pagination.prev_page_url }]"
            >
              <a
                class="page-link bg-info text-white prev"
                href="#"
                @click.prevent="getActivities(pagination.prev_page_url)"
                >Prev</a
              >
            </li>
            <li class="page-item disabled page-text">
              <a class="page-link">
                Page {{ pagination.current_page }} of {{ pagination.last_page }}
              </a>
            </li>
            <li
              class="page-item"
              v-bind:class="[{ disabled: !pagination.next_page_url }]"
            >
              <a
                class="page-link bg-info text-white next"
                href="#"
                @click.prevent="getActivities(pagination.next_page_url)"
                >Next</a
              >
            </li>
          </ul>
        </nav>
      </div>
        <div v-for="activity in activities" v-bind:key="activity.id" class="my-3 activity-container">
          <div class="card bg-light mb-2">
            <div class="card-body p-0">
              <div class="row">
                <div class="col-sm-3">
                  <div v-bind:id="'activityImages'+activity.id" class="carousel slide" data-ride="carousel" v-if="activity.activity_images != ''">
                    <div class="carousel-inner">
                      <div class="carousel-item active" v-if="!activity.featured_image.includes('no_image')">
                        <img class="d-block w-100" :src="activity.featured_image" alt="album image" />
                      </div>
                      <div class="carousel-item" v-bind:class="[activity.featured_image.includes('no_image') && i == 0 ? 'active' : '']" v-for="(images, i) in activity.activity_images" v-bind:key="i">
                        <img class="d-block w-100" :src="images.image_path" alt="Second slide">
                      </div>
                    </div>
                    <a class="carousel-control-prev" v-bind:href="'#activityImages'+activity.id" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" v-bind:href="'#activityImages'+activity.id" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                  <div v-else>
                    <img class="img-fluid" :src="activity.featured_image" alt="album image" />
                  </div>
                  
                </div>
                <div class="col-sm-9 d-flex align-items-center">
                  <div class="pr-3 pl-2 py-3 w-100">
                    <h3>{{ activity.title }}</h3>
                    <p class="card-text py-1">{{ activity.description }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="float-left">
                {{ activity.create }}
              </div>
              <div class="float-right d-flex">
                <a href="#" @click.prevent="editActivity(activity)"><Icon type="md-create" class="text-primary mx-1" size="21"/></a>
                <a  href="#" @click.prevent="showDeleteModal(activity, activity.id)"><Icon type="md-trash" class="text-danger mx-1" size="21"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </Col>
    </Row>
    <deleteModal></deleteModal>
  </div>
</template>

<script>
import deleteModal from "../components/DeleteModal.vue";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      activities: [],
      activity: {
        id: '',
        title: '',
        short_description: '',
        description: '',
        featured_image: '',
        is_featured: 0,
        images: [],
      },
      images_to_remove: [],
      openModal: false,
      deleteModal: false,
      isAdding: false,
      isUpdating: false,
      // isDeleting: false,
      index: '',
      pagination: {},
      edit: false,
      badChars: /^[a-zA-Z0-9-.,!\n ]+$/,
    };
  },
  created() {
    this.getActivities();
  },
  methods: {
    async getActivities(url) {
      this.$Loading.start();
      this.token = window.Laravel.csrfToken;
      let vm = this;
      let page_url = url ? url : "api/activities";
      const res = await this.callApi("get", page_url);
      if (res.status === 200) {
        // console.log(res);
        this.activities = res.data.data;
        vm.makePagination(res.data);
        this.$Loading.finish();
      } else {
        this.swr();
        this.$Loading.error();
      }

      this.$Loading.finish();
    },
    makePagination(data) {
      let pagination = {
        current_page: data.current_page,
        last_page: data.last_page,
        next_page_url: data.next_page_url,
        prev_page_url: data.prev_page_url,
        total: data.total,
      };
      this.pagination = pagination;
    },
    showDeleteModal(activity, id) {
      const deleteModalObj = {
        showDeleteModal: true,
        deleteUrl: `api/activity/${id}`,
        data: activity,
        // deletingIndex: i,
        isDeleted: false,
      };
      this.$store.commit("setDeletingModalObj", deleteModalObj);
    },
    showImageDeleteModal(image, id, index) {
      const deleteModalObj = {
        showDeleteModal: true,
        deleteUrl: `api/activity_image/${id}`,
        data: image,
        deletingIndex: index,
        isDeleted: false,
      };
      this.$store.commit("setDeletingModalObj", deleteModalObj);
    },
    handleSuccess(res, file) {
      res = `${res}`;
      this.activity.featured_image = res;
    },
    handleSuccessMultipleFiles(res, file){
      let vm = this;
      vm.activity.images.unshift(res);
    },
    handleFormatError(file) {
      this.$Notice.warning({
        title: "The file format is incorrect",
        desc:
          "File format of " +
          file.name +
          " is incorrect, please select jpg or png.",
      });
    },
    handleError(res, file) {
      this.$Notice.warning({
        title: "The file format is incorrect",
        desc: `${
          file.errors.file.length
            ? file.errors.file[0]
            : "Something went wrong!"
        }`,
      });
    },
    handleMaxSize(file) {
      this.$Notice.warning({
        title: "Exceeding file size limit",
        desc: "File  " + file.name + " is too large, no more than 2M.",
      });
    },
    async deleteImage() {
      let image;
      image = this.activity.featured_image;
      this.$refs.uploads.clearFiles();
      this.activity.featured_image = '';
      const res = await this.callApi("post", "app/delete_image", {
        imageName: image,
      });
      if (res.status != 200) {
        this.activity.featured_image = image;
        this.swr();
      }
    },
    deleteFromMultiImage(id) {
      let obj = id;      
      this.images_to_remove.push(obj);
    },
    validateForm(){
      if (this.activity.title.trim() == "") return this.e("Name is required");
      if (this.activity.short_description != null) {
        if (this.activity.short_description.trim() != "") {
          if (!this.badChars.test(this.activity.description)) {
            return this.e("Special characters are not supported");
          }
        }
      }
      if (this.activity.description.trim() != "") {
        if (!this.badChars.test(this.activity.description)) {
          return this.e("Special characters are not supported");
        }
      }
      if(!this.edit) {
        this.createActivity();
      } else {
        this.saveEditedActivity();
      } 
    },
    async createActivity() {
      const res = await this.callApi("post", "api/activity", this.activity);

      if (res.status === 200) {
        this.edit = false;
        this.activity.title = '';
        this.activity.short_description = '';
        this.activity.description = '';
        this.activity.featured_image = '';
        this.activity.is_featured = 0;
        this.activity.images.splice(0,this.activity.images.length);
        this.s("Activity has been added!");
        this.getActivities();
        this.$refs.uploads.clearFiles();
        this.$refs.multiUploads.clearFiles();        
      } else {
        if (res.status == 422) {
          for (let i in res.data.errors) {
            this.e(res.data.errors[i][0]);
          }
        } else {
          this.swr();
        }
      }
    },
    editActivity(activity){
      this.edit = true;
      this.images_to_remove.splice(0,this.images_to_remove.length);
      this.activity.id = activity.id;
      this.activity.title = activity.title;
      this.activity.short_description = activity.short_description;
      this.activity.description = activity.description;
      this.activity.featured_image = activity.featured_image;
      this.activity.images = activity.activity_images;
      $(window).scrollTop(0);
    },
    async saveEditedActivity(){
      const res = await this.callApi("patch", `api/activity/${this.activity.id}`, this.activity);
      if (res.status === 200) {
        this.edit = false;
        this.activity.title = '';
        this.activity.short_description = '';
        this.activity.description = '';
        this.activity.featured_image = '';
        this.activity.is_featured = 0;
        this.activity.images.splice(0,this.activity.images.length);
        this.s("Activity has been updated!");
        this.getActivities();
        this.$refs.uploads.clearFiles();
      } else {
        if (res.status == 422) {
          for (let i in res.data.errors) {
            this.e(res.data.errors[i][0]);
          }
        } else {
          this.swr();
        }
      }
    },
  },
  components: {
    deleteModal,
  },
  computed: {
    ...mapGetters(["getDeleteModalObj"]),
  },
  watch: {
    getDeleteModalObj(obj) {
      if (obj.isDeleted) {
        // this.activities.splice(obj.deletingIndex, 1);
        this.getActivities();
      }
    },
  },
};
</script>