<template>
  <div>
    <div v-if="album">
      <div class="d-flex justify-content-start">
        <h2>Album</h2>
        <Button @click="addModal = true" class="mx-3">
          <Icon type="md-add" />Upload image
        </Button>

      </div>
      <Divider><h2>Album Image List</h2></Divider>

      <!-- Image List -->
      <Row :gutter="16" v-if="album.gallery_images != ''">
        <Col :md="12" :lg="8" :xl="4" :xxl="4"
          class="my-3"
          v-for="(image, i) in album.gallery_images"
          :key="i"
        >
          <div class="card bg-light album-image-block">
            <img class="card-img-top img-fluid" :src="image.image_path" alt="Album Image" />
            <div class="card-footer">
              <div class="d-flex justify-content-end">
              <a href="#" @click.prevent="showEditModal(image, i)"
                  ><Icon type="md-create" class="text-primary mx-1" size="21"
                /></a>
                <a
                  href="#"
                  @click.prevent="showDeleteModal(image, i)"
                  ><Icon type="md-trash" class="text-danger mx-1" size="21"
                /></a>
              </div>
            </div>
          </div>
        </Col>
      </Row>
      <div v-else>
        <p>No image available yet</p>
      </div>


    </div>
    <div v-else>No Content Found!</div>

    <!-- Add Modal -->
    <Modal
      v-model="addModal"
      title="Add album image"
      :mask-closable="false"
      :closable="false"
    >
      <Input v-model="data.name" placeholder="Enter Name" class="my-2" />
      <Input
        v-model="data.description"
        type="textarea"
        :autosize="{ minRows: 2, maxRows: 5 }"
        placeholder="Enter Description (Optional)"
        class="my-2"
      />
      <Upload
        ref="uploads"
        type="drag"
        :headers="{
          'x-csrf-token': token,
          'X-Requested-With': 'XMLHttpRequest',
        }"
        :on-success="handleSuccess"
        :on-error="handleError"
        :format="['jpg', 'jpeg', 'png', 'gif']"
        :on-format-error="handleFormatError"
        :max-size="2048"
        :on-exceeded-size="handleMaxSize"
        action="/app/upload"
      >
        <div style="padding: 20px 0">
          <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
          <p>Click or drag image here to upload</p>
        </div>
      </Upload>

      <div class="demo-upload-list" v-if="data.image_path">
        <img :src="`/uploads/${data.image_path}`" alt="image" />
        <div class="demo-upload-list-cover">
          <Icon type="ios-trash-outline" @click="deleteImage"></Icon>
        </div>
      </div>
      <Input
        v-model="data.sort_order"
        type="number"
        placeholder="Enter Sort Order"
        class="my-2"
      />

      <div slot="footer">
        <Button type="default" @click="addModal = false">Close</Button>
        <Button
          type="primary"
          @click="addAlbumImage"
          :disabled="isAdding"
          :loading="isAdding"
          >{{ isAdding ? "Adding.." : "Add Image" }}</Button
        >
      </div>
    </Modal>

    <!-- Edit Modal -->
    <Modal
      v-model="editModal"
      title="Update album image"
      :mask-closable="false"
      :closable="false"
    >
      <Input v-model="editData.name" placeholder="Enter Name" class="my-2" />
      <Input
        v-model="editData.description"
        type="textarea"
        :autosize="{ minRows: 2, maxRows: 5 }"
        placeholder="Enter Description (Optional)"
        class="my-2"
      />
      <Upload
        v-show="isIconImageNew"
        ref="editDataUploads"
        type="drag"
        :headers="{
          'x-csrf-token': token,
          'X-Requested-With': 'XMLHttpRequest',
        }"
        :on-success="handleSuccess"
        :on-error="handleError"
        :format="['jpg', 'jpeg', 'png', 'gif']"
        :on-format-error="handleFormatError"
        :max-size="2048"
        :on-exceeded-size="handleMaxSize"
        action="/app/upload"
      >
        <div style="padding: 20px 0">
          <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
          <p>Click or drag image here to upload</p>
        </div>
      </Upload>

      <div class="demo-upload-list" v-if="editData.image_path">
        <img :src="`${editData.image_path}`" alt="image" />
        <div class="demo-upload-list-cover">
          <Icon type="ios-trash-outline" @click="deleteImage(false)"></Icon>
        </div>
      </div>
      <Input
        v-model="editData.sort_order"
        type="number"
        placeholder="Enter Sort Order"
        class="my-2"
      />

      <div slot="footer">
        <Button type="default" @click="editModal = false">Close</Button>
        <Button
          type="primary"
          @click="editAlbumImage()"
          :disabled="isUpdating"
          :loading="isUpdating"
          >{{ isUpdating ? "Updating.." : "Update Image" }}</Button
        >
      </div>
    </Modal>
    <deleteModal></deleteModal>
  </div>
</template>
<script>
import deleteModal from "../components/DeleteModal.vue";
import { mapGetters } from "vuex";
export default {
  props: ["app"],
  data() {
    return {
      albumId: this.$route.params.id,
      album: null,
      data: {
        name: "",
        description: "",
        image_path: "",
        sort_order: "",
        gallery_album_id: "",
      },
      editData: {
        name: "",
        description: "",
        image_path: "",
        sort_order: "",
      },
      altImage: "/public/uploads/1617181065.png",
      addModal: false,
      editModal: false,
      deleteModal: false,
      isAdding: false,
      isUpdating: false,
      isDeleting: false,
      isIconImageNew: false,
      imageHolder: "",
      badChars: /^[a-zA-Z0-9-.,! ]+$/,
      isEditingItem: false,
    };
  },
  mounted() {
    this.loadAlbum();
  },
  methods: {
    async loadAlbum() {
      this.$Loading.start();
      const res = await this.callApi("post", "app/get_album", {
        id: this.albumId,
      });
      if (res.status === 200) {
        this.album = res.data;
        this.$Loading.finish();
      } else {
        this.swr();
        this.$Loading.error();
      }
    },

    async addAlbumImage() {
      if (this.data.name.trim() == "") return this.e("Name is required");
      if (this.data.sort_order) {
        if (isNaN(this.data.sort_order))
          return this.e("Sort order is not a number");
      }
      if (this.data.description.trim() != "") {
        if (!this.badChars.test(this.data.description)) {
          return this.e("Special characters are not supported");
        }
      }
      if (this.data.image_path.trim() == "") return this.e("Image is required");
      this.data.gallery_album_id = this.albumId;

      const res = await this.callApi("post", "app/add_album_image", this.data);

      if (res.status === 200) {
        this.album.gallery_images.unshift(res.data);
        this.s("Image has been added!");
        this.addModal = false;
        this.data.name = "";
        this.data.description = "";
        this.data.image_path = "";
        this.data.sort_order = "";
      } else {
        if (res.status == 422) {
          if (res.data.errors.name) {
            this.i(res.data.errors.name[0]);
          }
          if (res.data.errors.description) {
            this.i(res.data.errors.description[0]);
          }
          if (res.data.errors.image_path) {
            this.i(res.data.errors.image_path[0]);
          }
          if (res.data.errors.sort_order) {
            this.i(res.data.errors.sort_order[0]);
          }
        } else {
          this.swr();
        }
      }
      this.$refs.uploads.clearFiles();
    },

    async deleteImage(isAdd = true) {
      let image;
      if (!isAdd) {
        // For Editing
        this.imageHolder = this.editData.image_path;
        this.isIconImageNew = true;
        image = this.imageHolder;
        this.editData.image_path = "";
        this.$refs.editDataUploads.clearFiles();
      } else {
        // For Adding
        image = this.data.image_path;
        this.data.image_path = "";
        this.$refs.uploads.clearFiles();
      }
      const res = await this.callApi("post", "app/delete_image", {
        imageName: image,
      });
      if (res.status != 200) {
        this.data.image_path = image;
        this.swr();
      }
    },

    handleSuccess(res, file) {
      if (this.isEditingItem) {
        res = `/uploads/${res}`;
        return (this.editData.image_path = res);
      }
      res = `${res}`;
      this.data.image_path = res;
    },
    handleFormatError(file) {
      this.$Notice.warning({
        title: "The file format is incorrect",
        desc:
          "File format of " +
          file.name +
          " is incorrect, please select jpg or png.",
      });
    },
    handleError(res, file) {
      this.$Notice.warning({
        title: "The file format is incorrect",
        desc: `${
          file.errors.file.length
            ? file.errors.file[0]
            : "Something went wrong!"
        }`,
      });
    },
    handleMaxSize(file) {
      this.$Notice.warning({
        title: "Exceeding file size limit",
        desc: "File  " + file.name + " is too large, no more than 2M.",
      });
    },

    showEditModal(image, index) {
      let obj = {
        id: image.id,
        name: image.name,
        description: image.description,
        image_path: image.image_path,
        sort_order: image.sort_order,
      };
      this.editData = obj;
      this.editModal = true;
      this.index = index;
      this.isEditingItem = true;
      this.isIconImageNew = false;
    },

    async editAlbumImage() {
      if (this.editData.name.trim() == "") return this.e("Name is required");
      if (this.editData.description != null) {
        if (!this.badChars.test(this.editData.description)) {
          return this.e("Special characters are not supported");
        }
      }
      if (this.editData.image_path.trim() == "")
        return this.e("Image is required");
      if (this.editData.sort_order) {
        if (isNaN(this.editData.sort_order))
          return this.e("Sort order is not a number");
      }
      const res = await this.callApi(
        "patch",
        "app/edit_album_image",
        this.editData
      );
      if (res.status === 200) {
        this.album.gallery_images[this.index].name = this.editData.name;
        this.album.gallery_images[
          this.index
        ].description = this.editData.description;
        this.album.gallery_images[
          this.index
        ].image_path = this.editData.image_path;
        this.album.gallery_images[
          this.index
        ].sort_order = this.editData.sort_order;
        this.s("Album images has been updated successfully!");
        this.editModal = false;
      } else {
        if (res.status == 422) {
          if (res.editData.errors.name) {
            this.i(res.editData.errors.name[0]);
          }
          if (res.editData.errors.description) {
            this.i(res.editData.errors.description[0]);
          }
          if (res.editData.errors.image_path) {
            this.i(res.editData.errors.image_path[0]);
          }
          if (res.editData.errors.sort_order) {
            this.i(res.editData.errors.sort_order[0]);
          }
        } else {
          this.swr();
        }
      }
    },

    showDeleteModal(image, i) {
      const deleteModalObj = {
        showDeleteModal: true,
        deleteUrl: "app/delete_album_image",
        data: image,
        deletingIndex: i,
        isDeleted: false,
      };
      this.$store.commit("setDeletingModalObj", deleteModalObj);
    },
  },
  async created() {
    this.token = window.Laravel.csrfToken;
  },
  components: {
    deleteModal,
  },
  computed: {
    ...mapGetters(["getDeleteModalObj"]),
  },
  watch: {
    getDeleteModalObj(obj) {
      if (obj.isDeleted) {
        this.album.gallery_images.splice(obj.deletingIndex, 1);
      }
    },
  },
};
</script>
