<template>
	<div>
        <!-- My Table -->
        <p class="table-title mb-3">
            Board Members
            <Button @click="addModal = true"><Icon type="md-add" />Add member</Button>
        </p>
    
        <table class="table table-hover table-bordered">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                    <th scope="col" width="105px">Action</th>
                </tr>
            </thead>

            <!-- Table Items -->
            <tbody>
                <tr v-for="(member, i) in members" :key="i">
                    <td>{{ member.id }}</td>
                    <td scope="row">{{ member.name }}</td>
                    <td>{{ member.position }}</td>
                    <td>{{ member.description }}</td>
                    <td class="table_image">
                        <img :src="member.image_path" alt="image" />
                    </td>
                    <td>
                        <Button type="text" size="small" @click="showEditModal(member, i)"><Icon type="md-create" size="21" color="#2d8cf0"/></Button>
                        <Button type="text" size="small" @click="showDeleteModal(member, i)" :loading="member.isDeleting"><Icon type="md-trash" size="21" color="#ed4014"/></Button>
                    </td>
                </tr>

            </tbody>
            <!-- Table Items -->
        </table>

				<!-- Add Modal -->
                <Modal
                    v-model="addModal"
                    title="Add board member"
                    :mask-closable="false"
                    :closable="false"
                >
                    <Input v-model="data.name" placeholder="Enter Name" class="my-2" />
                    <Input v-model="data.position" placeholder="Enter Position" class="my-2" />
					<Input v-model="data.description" type="textarea" :autosize="{minRows: 2,maxRows: 5}" placeholder="Enter Description (Optional)" class="my-2"/>
                    <Upload
                        ref="uploads"
                        type="drag"
                        :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                        :on-success="handleSuccess"
                        :on-error="handleError"
                        :format="['jpg','jpeg','png','gif']"
                        :on-format-error="handleFormatError"
                        :max-size="2048"
                        :on-exceeded-size="handleMaxSize"
                        action="/app/upload"
                    >
                        <div style="padding: 20px 0">
                            <Icon
                                type="ios-cloud-upload"
                                size="52"
                                style="color: #3399ff"
                            ></Icon>
                            <p>Click or drag image here to upload</p>
                        </div>
                    </Upload>

                    <div class="demo-upload-list" v-if="data.image_path">
                        <img :src="`/uploads/${data.image_path}`" alt="image" />
                        <div class="demo-upload-list-cover">
                            <Icon type="ios-trash-outline" @click="deleteImage"></Icon>
                        </div>
                    </div>

                    <div slot="footer">
                        <Button type="default" @click="addModal = false" >Close</Button>
                        <Button type="primary" @click="addBoardMember" :disabled="isAdding" :loading="isAdding" >{{ isAdding ? "Adding.." : "Add Board Member" }}</Button>
                    </div>
                </Modal>

                <!-- Edit Modal -->
                <Modal
                    v-model="editModal"
                    title="Update board member"
                    :mask-closable="false"
                    :closable="false"
                >
                    <Input v-model="editData.name" placeholder="Enter Name" class="my-2" />
                    <Input v-model="editData.position" placeholder="Enter Position" class="my-2" />
					<Input v-model="editData.description" type="textarea" :autosize="{minRows: 2,maxRows: 5}" placeholder="Enter Description (Optional)" class="my-2"/>
                    <Upload
                        v-show="isIconImageNew"
                        ref="editDataUploads"
                        type="drag"
                        :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                        :on-success="handleSuccess"
                        :on-error="handleError"
                        :format="['jpg','jpeg','png','gif']"
                        :on-format-error="handleFormatError"
                        :max-size="2048"
                        :on-exceeded-size="handleMaxSize"
                        action="/app/upload"
                    >
                        <div style="padding: 20px 0">
                            <Icon
                                type="ios-cloud-upload"
                                size="52"
                                style="color: #3399ff"
                            ></Icon>
                            <p>Click or drag image here to upload</p>
                        </div>
                    </Upload>

                    <div class="demo-upload-list" v-if="editData.image_path">
                        <img :src="`${editData.image_path}`" alt="image" />
                        <div class="demo-upload-list-cover">
                            <Icon type="ios-trash-outline" @click="deleteImage(false)"></Icon>
                        </div>
                    </div>

                    <div slot="footer">
                        <Button type="default" @click="editModal = false" >Close</Button>
                        <Button type="primary" @click="editBoardMember" :disabled="isUpdating" :loading="isUpdating" >{{ isUpdating ? "Updating.." : "Update Board Member" }}</Button>
                    </div>
                </Modal>

                <deleteModal></deleteModal>
			</div>

</template>
<script>
import deleteModal from '../components/DeleteModal.vue'
import {mapGetters} from 'vuex' 
export default {
	data() {
		return {
			data: {
				name: '',
				position: '',
				description: '',
				image_path: '',
			},
            editData: {
                name: '',
				position: '',
				description: '',
				image_path: '',
            },
			members: [],
			addModal: false,
			editModal: false,
			deleteModal: false,
			isAdding: false,
			isUpdating: false,
			isDeleting: false,
            isIconImageNew: false,
            imageHolder: '',
		}
	},
	methods: {
		async addBoardMember() {
            if(this.data.name.trim()=='') return this.e('Name is required');
            if(this.data.position.trim()=='') return this.e('Position is required');
            if(this.data.image_path.trim()=='') return this.e('Image is required');
            const res = await this.callApi("post", "app/add_board_member", this.data);
            if (res.status === 201) {
                this.members.unshift(res.data);
                this.s("Board member has been added successfully!");
                this.addModal = false;
                this.data.name = '';
                this.data.position = '';
                this.data.description = '';
                this.data.image_path = '';
            } else {
                if (res.status == 422) {
                    if (res.data.errors.name) {
                        this.i(res.data.errors.name[0]);
                    }
                    if (res.data.errors.position) {
                        this.i(res.data.errors.position[0]);
                    }
					if (res.data.errors.image_path) {
                        this.i(res.data.errors.image_path[0]);
                    }
                } else {
                    this.swr();
                }
            }
            this.$refs.uploads.clearFiles()
        },
        
        async editBoardMember() {
            if(this.editData.name.trim()=='') return this.e('Name is required');
            if(this.editData.position.trim()=='') return this.e('Position is required');
            if(this.editData.image_path.trim()=='') return this.e('Image is required');
            const res = await this.callApi("patch","app/edit_board_member",this.editData);
            if (res.status === 200) {
                this.members[this.index].name = this.editData.name;
                this.members[this.index].position = this.editData.position;
                this.members[this.index].description = this.editData.description;
                this.members[this.index].image_path = this.editData.image_path;
                this.s("Board member has been updated successfully!");
                this.editModal = false;
            } else {
                if (res.status == 422) {
                    if (res.editData.errors.name) {
                        this.i(res.editData.errors.name[0]);
                    }
                    if (res.editData.errors.position) {
                        this.i(res.editData.errors.position[0]);
                    }
					if (res.editData.errors.image_path) {
                        this.i(res.editData.errors.image_path[0]);
                    }
                } else {
                    this.swr();
                }
            }
        },

        showEditModal(member, index) {
            let obj = {
                id: member.id,
                name: member.name,
                position: member.position,
                description: member.description,
                image_path: member.image_path,
            };
            this.editData = obj
            this.editModal = true
            this.index = index
            this.isEditingItem = true
            this.isIconImageNew = false
        },

		async deleteImage(isAdd=true){
            let image
            if(!isAdd){ // For Editing
                this.imageHolder = this.editData.image_path
                this.isIconImageNew = true
                image = this.imageHolder
                this.editData.image_path = ''
                this.$refs.editDataUploads.clearFiles()
            } else { // For Adding
                image = this.data.image_path
                this.data.image_path = ''
                this.$refs.uploads.clearFiles()
            }
            const res = await this.callApi('post', 'app/delete_image', {imageName: image})
            if(res.status!=200){
                this.data.image_path = image
                this.swr()
            }
        },

		handleSuccess(res, file) {
            if(this.isEditingItem){
                res = `/uploads/${res}`
                return this.editData.image_path = res
            }
            res = `${res}`
            this.data.image_path = res
        },
        handleFormatError(file) {
            this.$Notice.warning({
                title: "The file format is incorrect",
                desc:
                    "File format of " +
                    file.name +
                    " is incorrect, please select jpg or png."
            });
        },
        handleError(res, file) {
            this.$Notice.warning({
                title: "The file format is incorrect",
                desc: `${file.errors.file.length ? file.errors.file[0] : "Something went wrong!"}`
            });
        },
        handleMaxSize(file) {
            this.$Notice.warning({
                title: "Exceeding file size limit",
                desc: "File  " + file.name + " is too large, no more than 2M."
            });
        },
        showDeleteModal(member, i) {
            const deleteModalObj = {
                showDeleteModal: true,
                deleteUrl: 'app/delete_board_member',
                data: member,
                deletingIndex: i,
                isDeleted: false
            }
            this.$store.commit('setDeletingModalObj', deleteModalObj)
        },

	},
	async created() {
        this.$Loading.start();
        this.token = window.Laravel.csrfToken;
        const res = await this.callApi("get", "app/get_board_members");
        if (res.status === 200) {
            this.members = res.data;
            this.$Loading.finish();
        } else {
            this.swr();
            this.$Loading.error();
        }
    },
    components: {
        deleteModal
    },
    computed: {
        ...mapGetters(["getDeleteModalObj"])
    },
    watch: {
        getDeleteModalObj(obj){
            if(obj.isDeleted){
                this.members.splice(obj.deletingIndex,1)
            }
        }
    }
}
</script>