<template>
  <div class="gallery-album-container">
    <p class="table-title mb-3">
      Gallery Albums
      <Button @click="showAddModal()"><Icon type="md-add" />Add album</Button>
    </p>
    <Divider>Albums</Divider>

    <!-- Items -->
    <Row :gutter="16">
      <Col span="4" class="my-2" v-for="(album, i) in albums" :key="i">
        <div class="card bg-light album">
          <div class="card-body" @click="goToAlbum(album)">
            <img class="card-img-top img-fluid" :src="album.album_image" v-bind:alt="album.name"/>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <h3 class="card-title">{{ album.name }}</h3>
            <Dropdown trigger="click" >
                <a href="javascript:void(0)">
                    <Icon type="md-more" size="22" color="#33475c" />
                </a>
                <DropdownMenu slot="list">
                    <DropdownItem><a href="#" class="d-block" @click.prevent="showEditModal(album, i)">Edit</a></DropdownItem>
                    <DropdownItem><a href="#" class="d-block" @click.prevent="showDeleteModal(album, i)">Delete</a></DropdownItem>
                </DropdownMenu>
            </Dropdown>
          </div>
        </div>
      </Col>
    </Row>

    <!-- Add Modal -->
    <Modal
      v-model="addModal"
      title="Add album"
      :mask-closable="false"
      :closable="false"
    >
      <Input v-model="data.name" placeholder="Enter Name" class="my-2" />
      <Input
        v-model="data.description"
        type="textarea"
        :autosize="{ minRows: 2, maxRows: 5 }"
        placeholder="Enter Description (Optional)"
        class="my-2"
      />
      <div v-bind:class="[data.album_image ?'d-none' : '']">
        <Upload
          ref="uploads"
          type="drag"
          :headers="{
            'x-csrf-token': token,
            'X-Requested-With': 'XMLHttpRequest',
          }"
          :on-success="handleSuccess"
          :on-error="handleError"
          :format="['jpg', 'jpeg', 'png', 'gif']"
          :on-format-error="handleFormatError"
          :max-size="2048"
          :on-exceeded-size="handleMaxSize"
          action="/app/upload"
        >
          <div style="padding: 20px 0">
            <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
            <p>Click or drag image here to upload</p>
          </div>
        </Upload>
      </div>

      <div class="demo-upload-list" v-if="data.album_image">
        <img :src="`/uploads/${data.album_image}`" alt="image" />
        <div class="demo-upload-list-cover">
          <Icon type="ios-trash-outline" @click="deleteImage"></Icon>
        </div>
      </div>

      <div slot="footer">
        <Button type="default" @click="addModal = false">Close</Button>
        <Button
          type="primary"
          @click="addAlbum"
          :disabled="isAdding"
          :loading="isAdding"
          >{{ isAdding ? "Adding.." : "Add Board Member" }}</Button
        >
      </div>
    </Modal>

    <!-- Edit Modal -->
    <Modal
      v-model="editModal"
      title="Update album"
      :mask-closable="false"
      :closable="false"
    >
      <Input v-model="editData.name" placeholder="Enter Name" class="my-2" />
      <Input
        v-model="editData.description"
        type="textarea"
        :autosize="{ minRows: 2, maxRows: 5 }"
        placeholder="Enter Description (Optional)"
        class="my-2"
      />
      <div v-bind:class="[editData.album_image ?'d-none' : '']">
        <Upload
          v-show="isIconImageNew"
          ref="editDataUploads"
          type="drag"
          :headers="{
            'x-csrf-token': token,
            'X-Requested-With': 'XMLHttpRequest',
          }"
          :on-success="handleSuccess"
          :on-error="handleError"
          :format="['jpg', 'jpeg', 'png', 'gif']"
          :on-format-error="handleFormatError"
          :max-size="2048"
          :on-exceeded-size="handleMaxSize"
          action="/app/upload"
        >
          <div style="padding: 20px 0">
            <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
            <p>Click or drag image here to upload</p>
          </div>
        </Upload>
      </div>

      <div class="demo-upload-list" v-if="editData.album_image">
        <img :src="`${editData.album_image}`" alt="image" />
        <div class="demo-upload-list-cover">
          <Icon type="ios-trash-outline" @click="deleteImage(false)"></Icon>
        </div>
      </div>

      <div slot="footer">
        <Button type="default" @click="editModal = false">Close</Button>
        <Button
          type="primary"
          @click="editAlbum()"
          :disabled="isUpdating"
          :loading="isUpdating"
          >{{ isUpdating ? "Updating.." : "Update Album" }}</Button
        >
      </div>
    </Modal>
    <deleteModal></deleteModal>
  </div>
</template>
<script>
import deleteModal from "../components/DeleteModal.vue";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      data: {
        name: '',
        description: '',
        album_image: '',
      },
      editData: {
        name: '',
        description: '',
        album_image: '',
      },
      index: '',
      albums: [],
      addModal: false,
      editModal: false,
      deleteModal: false,
      isAdding: false,
      isUpdating: false,
      isDeleting: false,
      isIconImageNew: false,
      isEditingItem: false,
      badChars: /^[a-zA-Z0-9-.,! ]+$/,
      imageHolder: '',
    };
  },
  methods: {
    goToAlbum(album) {
      this.$router.push({
        name: "album.show",
        params: {
          id: album.id,
        },
      });
    },
    showAddModal(){
      this.data.album_image = '';
      this.$refs.uploads.clearFiles();
      this.addModal = true;
    },
    async addAlbum() {
      if (this.data.name.trim() == "") return this.e("Name is required");
      if (this.data.description.trim() != "") {
        if (!this.badChars.test(this.data.description)) {
          return this.e("Special characters are not supported");
        }
      }
      if (this.data.album_image.trim() == "") return this.e("Image is required");
      const res = await this.callApi("post", "app/add_album", this.data);

      if (res.status === 200) {
        this.albums.unshift(res.data);
        this.s("Album has been added!");
        this.addModal = false;
        this.data.name = "";
        this.data.description = "";
        this.data.album_image = "";
      } else {
        if (res.status == 422) {          
          if (res.data.errors.name) {
            this.i(res.data.errors.name[0]);
          }
          if (res.data.errors.description) {
            this.i(res.data.errors.description[0]);
          }
          if (res.data.errors.album_image) {
            this.i(res.data.errors.album_image[0]);
          }
        } else {
          this.swr();
        }
      }
      this.$refs.uploads.clearFiles();
    },
    async deleteImage(isAdd = true) {
      let image;
      if (!isAdd) {
        // For Editing
        this.imageHolder = this.editData.album_image;
        this.isIconImageNew = true;
        image = this.imageHolder;
        this.editData.album_image = "";
        this.$refs.editDataUploads.clearFiles();
      } else {
        // For Adding
        image = this.data.album_image;
        this.data.album_image = "";
        this.$refs.uploads.clearFiles();
      }
      const res = await this.callApi("post", "app/delete_image", {
        imageName: image,
      });
      if (res.status != 200) {
        this.data.album_image = image;
        this.swr();
      }
    },

    handleSuccess(res, file) {
      if (this.isEditingItem) {
        res = `/uploads/${res}`;
        return (this.editData.album_image = res);
      }
      this.isEditingItem = false;
      res = `${res}`;
      this.data.album_image = res;
    },
    handleFormatError(file) {
      this.$Notice.warning({
        title: "The file format is incorrect",
        desc:
          "File format of " +
          file.name +
          " is incorrect, please select jpg or png.",
      });
    },
    handleError(res, file) {
      this.$Notice.warning({
        title: "The file format is incorrect",
        desc: `${
          file.errors.file.length
            ? file.errors.file[0]
            : "Something went wrong!"
        }`,
      });
    },
    handleMaxSize(file) {
      this.$Notice.warning({
        title: "Exceeding file size limit",
        desc: "File  " + file.name + " is too large, no more than 2M.",
      });
    },

    showEditModal(image, index) {
      let obj = {
        id: image.id,
        name: image.name,
        description: image.description,
        album_image: image.album_image,
      };
      this.editData = obj;
      this.editModal = true;
      this.index = index;
      this.isEditingItem = true;
      this.isIconImageNew = false;
    },

    async editAlbum() {
      this.isUpdating = true;
      if (this.editData.name.trim() == "") { this.isUpdating = false; return this.e("Name is required");}
      if (this.editData.description != null) {
        if (!this.badChars.test(this.editData.description)) { this.isUpdating = false; return this.e("Special characters are not supported");}
      }
      if (this.editData.album_image.trim() == "") {this.isUpdating = false; return this.e("Image is required");}

      const res = await this.callApi("patch", "app/edit_album", this.editData);
      if (res.status === 200) {
        this.albums[this.index].name = this.editData.name;
        this.albums[this.index].description = this.editData.description;
        this.albums[this.index].album_image = this.editData.album_image;
        this.s("Album has been updated successfully!");
        this.editModal = false;
        this.$router.push({
          name: "gallery.albums"
        });
      } else {
        if (res.status == 422) {
          if (res.editData.errors.name) {
            this.i(res.editData.errors.name[0]);
          }
          if (res.editData.errors.description) {
            this.i(res.editData.errors.description[0]);
          }
          if (res.editData.errors.album_image) {
            this.i(res.editData.errors.album_image[0]);
          }
        } else {
          this.swr();
        }
      }      
      this.isUpdating = false;
    },

    showDeleteModal(album, i) {
      const deleteModalObj = {
        showDeleteModal: true,
        deleteUrl: "app/delete_album",
        data: album,
        deletingIndex: i,
        isDeleted: false,
      };
      this.$store.commit("setDeletingModalObj", deleteModalObj);
    },
  },
  async created() {
    this.$Loading.start();
    this.token = window.Laravel.csrfToken;
    const res = await this.callApi("get", "app/get_albums");
    if (res.status === 200) {
      this.albums = res.data;
      this.$Loading.finish();
    } else {
      this.swr();
      this.$Loading.error();
    }
  },
  components: {
    deleteModal,
  },
  computed: {
    ...mapGetters(["getDeleteModalObj"]),
  },
  watch: {
    getDeleteModalObj(obj) {
      if (obj.isDeleted) {
        this.albums.splice(obj.deletingIndex, 1);
      }
    },
  },
};
</script>

