<template>
    <div>
        <!-- My Table -->
        <p class="table-title mb-3">
            Homepage Banners
            <Button @click="addModal = true"><Icon type="md-add" />Add banner</Button>
        </p>
    
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Theme</th>
                    <th scope="col">Position</th>
                    <th scope="col">Display</th>
                    <th scope="col">Image</th>
                    <th scope="col">Sort Order</th>
                    <th scope="col" width="105px">Action</th>
                </tr>
            </thead>

            <!-- Table Items -->
            <tbody>
                <tr v-for="(banner, i) in banners" :key="i">
                    <td scope="row">{{ banner.title }}</td>
                    <td>{{ banner.description }}</td>
                    <td>{{ banner.theme }}</td>
                    <td>{{ banner.text_position }}</td>
                    <td>{{ banner.to_display==1?'True':'False' }}</td>
                    <td class="table_image">
                        <img :src="banner.image_path" alt="image" />
                    </td>
                    <td>{{ banner.sort_order }}</td>
                    <td>
                        <Button type="text" size="small" @click="showEditModal(banner, i)"><Icon type="md-create" size="21" color="#2d8cf0"/></Button>
                        <Button type="text" size="small" @click="showDeleteModal(banner, i)" :loading="banner.isDeleting"><Icon type="md-trash" size="21" color="#ed4014" /></Button>
                    </td>
                </tr>

            </tbody>
            <!-- Table Items -->
        </table>
        <!-- End My Table -->
        
        <!-- Add Modal -->
        <Modal
            v-model="addModal"
            title="Add Homepage Banner"
            :mask-closable="false"
            :closable="false"
        >
            <Input v-model="data.title" placeholder="Enter Title" class="my-2" />
            <Input v-model="data.description" type="textarea" :autosize="{minRows: 2,maxRows: 5}" placeholder="Enter Description (Optional)" class="my-2"/>
            <Row>
                <Col span="8">
                    <Select v-model="data.theme" placeholder="Select Theme" class="pr-2 my-2">
                        <Option v-for="theme in themeList" :value="theme.value" :key="theme.value">{{ theme.label }}</Option>
                    </Select>
                </Col>
                <Col span="8">
                    <Select v-model="data.text_position" placeholder="Select Text Position" class="px-2 my-2">
                        <Option v-for="position in positionList" :value="position.value" :key="position.value">{{ position.label }}</Option>
                    </Select>
                </Col>
                <Col span="8">
                    <Select v-model="data.to_display" placeholder="Display" class="pl-2 my-2">
                        <Option v-for="display in displayList" :value="display.value" :key="display.value">{{ display.label }}</Option>
                    </Select>
                </Col>
            </Row>
            <Upload
                ref="uploads"
                type="drag"
                    class="my-2"
                :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                :on-success="handleSuccess"
                :on-error="handleError"
                :format="['jpg','jpeg','png','gif']"
                :on-format-error="handleFormatError"
                :max-size="2048"
                :on-exceeded-size="handleMaxSize"
                action="/app/upload"
            >
                <div style="padding: 20px 0">
                    <Icon
                        type="ios-cloud-upload"
                        size="52"
                        style="color: #3399ff"
                    ></Icon>
                    <p>Click or drag image here to upload</p>
                </div>
            </Upload>

            <div class="demo-upload-list" v-if="data.image_path">
                <img :src="`/uploads/${data.image_path}`" alt="image" />
                <div class="demo-upload-list-cover">
                    <Icon type="ios-trash-outline" @click="deleteImage"></Icon>
                </div>
            </div>

            <Input v-model="data.sort_order" placeholder="Enter Sort Order" class="my-2" />
            <div slot="footer">
                <Button type="default" @click="addModal = false" >Close</Button>
                <Button type="primary" @click="addBanner" :disabled="isAdding" :loading="isAdding" >{{ isAdding ? "Adding.." : "Add Banner" }}</Button>
            </div>
        </Modal>

        <!-- Edit Modal -->
        <Modal
            v-model="editModal"
            title="Update Homepage Banner"
            :mask-closable="false"
            :closable="false"
        >
            <Input v-model="editData.title" placeholder="Enter Title" class="my-2" />
            <Input v-model="editData.description" type="textarea" :autosize="{minRows: 2,maxRows: 5}" placeholder="Enter Description (Optional)" class="my-2"/>
            <Row>
                <Col span="8">
                    <Select v-model="editData.theme" placeholder="Select Theme" class="pr-2 my-2">
                        <Option v-for="theme in themeList" :value="theme.value" :key="theme.value">{{ theme.label }}</Option>
                    </Select>
                </Col>
                <Col span="8">
                    <Select v-model="editData.text_position" placeholder="Select Text Position" class="px-2 my-2">
                        <Option v-for="position in positionList" :value="position.value" :key="position.value">{{ position.label }}</Option>
                    </Select>
                </Col>
                <Col span="8">
                    <Select v-model="editData.to_display" placeholder="Display" class="pl-2 my-2">
                        <Option v-for="display in displayList" :value="display.value" :key="display.value">{{ display.label }}</Option>
                    </Select>
                </Col>
            </Row>
            <Upload
                v-show="isIconImageNew"
                ref="editDataUploads"
                type="drag"
                :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                :on-success="handleSuccess"
                :on-error="handleError"
                :format="['jpg','jpeg','png','gif']"
                :on-format-error="handleFormatError"
                :max-size="2048"
                :on-exceeded-size="handleMaxSize"
                action="/app/upload"
            >
                <div style="padding: 20px 0">
                    <Icon
                        type="ios-cloud-upload"
                        size="52"
                        style="color: #3399ff"
                    ></Icon>
                    <p>Click or drag image here to upload</p>
                </div>
            </Upload>

            <div class="demo-upload-list" v-if="editData.image_path">
                <img :src="`${editData.image_path}`" alt="image" />
                <div class="demo-upload-list-cover">
                    <Icon type="ios-trash-outline" @click="deleteImage(false)"></Icon>
                </div>
            </div>

            <Input v-model="editData.sort_order" placeholder="Enter Sort Order" class="my-2" />

            <div slot="footer">
                <Button type="default" @click="editModal = false" >Close</Button>
                <Button type="primary" @click="editBanner" :disabled="isAdding" :loading="isUpdating" >{{ isUpdating ? "Updating.." : "Update Board Member" }}</Button>
            </div>
        </Modal>
        <deleteModal></deleteModal>

    </div>    
</template>
<script>
import deleteModal from '../components/DeleteModal.vue'
import {mapGetters} from 'vuex' 
export default {
    data() {
		return {
			data: {
				title: '',
				description: '',
				theme: '',
				text_position: '',
				to_display: 'boolean',
				image_path: '',
				sort_order: 0,
			},
            editData: {
				title: '',
				description: '',
				theme: '',
				text_position: '',
				to_display: 'boolean',
				image_path: '',
				sort_order: 0,
            },
			banners: [],
			addModal: false,
			editModal: false,
			deleteModal: false,
			isAdding: false,
			isUpdating: false,
			isDeleting: false,
            isIconImageNew: false,
            imageHolder: '',
            badChars: /^[a-zA-Z0-9-.,+()\n ]+$/,
            themeList: [
                {
                    value: 'Light',
                    label: 'Light'
                },
                {
                    value: 'Dark',
                    label: 'Dark'
                },
            ],
            positionList: [
                {
                    value: 'Top',
                    label: 'Top'
                },
                {
                    value: 'Left',
                    label: 'Left'
                },
                {
                    value: 'Right',
                    label: 'Right'
                },
                {
                    value: 'Bottom',
                    label: 'Bottom'
                },
            ],
            displayList: [
                {
                    value: 1,
                    label: 'True'
                },
                {
                    value: 0,
                    label: 'False'
                },
            ],
		}
	},
    methods: {
		async addBanner() {
            if(this.data.title.trim()=='') return this.e('Title is required');
            if(this.data.description.trim()!=''){
                if(!this.badChars.test(this.data.description)){
                    return this.e('Special characters are not supported');
                }
            }
            if(this.data.image_path.trim()=='') return this.e('Image is required');

            const res = await this.callApi("post", "app/add_home_banner", this.data);
            if (res.status === 201) {
                this.banners.unshift(res.data);
                this.s("Homepage Banner has been added!");
                this.addModal = false;
                this.data.title = '';
                this.data.description = '';
                this.data.theme = '';
                this.data.text_position = '';
                this.data.to_display = 0;
                this.data.image_path = '';
                this.data.sort_order = 0;
            } else {
                if (res.status == 422) {
                    if (res.data.errors.title) {
                        this.i(res.data.errors.title[0]);
                    }
                    if (res.data.errors.description) {
                        this.i(res.data.errors.description[0]);
                    }
                    if (res.data.errors.theme) {
                        this.i(res.data.errors.theme[0]);
                    }
                    if (res.data.errors.text_position) {
                        this.i(res.data.errors.text_position[0]);
                    }
                    if (res.data.errors.to_display) {
                        this.i(res.data.errors.to_display[0]);
                    }
                    if (res.data.errors.image_path) {
                        this.i(res.data.errors.image_path[0]);
                    }
					if (res.data.errors.sort_order) {
                        this.i(res.data.errors.sort_order[0]);
                    }
                } else {
                    this.swr();
                }
            }
            this.$refs.uploads.clearFiles()
        },
        
        async editBanner() {
            if(this.editData.title.trim()=='') return this.e('Title is required');
            if(this.editData.description.trim()!=''){
                if(!this.badChars.test(this.editData.description)){
                    return this.e('Special characters are not supported');
                }
            }
            if(this.editData.image_path.trim()=='') return this.e('Image is required');

            const res = await this.callApi("patch","app/edit_home_banner",this.editData);
            if (res.status === 200) {
                this.banners[this.index].title = this.editData.title;
                this.banners[this.index].description = this.editData.description;
                this.banners[this.index].theme = this.editData.theme;
                this.banners[this.index].text_position = this.editData.text_position;
                this.banners[this.index].to_display = this.editData.to_display;
                this.banners[this.index].image_path = this.editData.image_path;
                this.banners[this.index].sort_order = this.editData.sort_order;
                this.s("Homepage Banner has been updated!");
                this.editModal = false;
            } else {
                if (res.status == 422) {
                    for (let i in res.data.errors) {
                        this.e(res.data.errors[i][0]);
                    }
                } else {
                    this.swr();
                }
            }
        },

        showEditModal(banner, index) {
            let obj = {
                id: banner.id,
                title: banner.title,
                description: banner.description,
                theme: banner.theme,
                text_position: banner.text_position,
                to_display: banner.to_display,
                image_path: banner.image_path,
                sort_order: banner.sort_order,
            };
            this.editData = obj
            this.editModal = true
            this.index = index
            this.isEditingItem = true
            this.isIconImageNew = false
        },

		async deleteImage(isAdd=true){
            let image
            if(!isAdd){ // For Editing
                this.imageHolder = this.editData.image_path
                this.isIconImageNew = true
                image = this.imageHolder
                this.editData.image_path = ''
                this.$refs.editDataUploads.clearFiles()
            } else { // For Adding
                image = this.data.image_path
                this.data.image_path = ''
                this.$refs.uploads.clearFiles()
            }
            const res = await this.callApi('post', 'app/delete_image', {imageName: image})
            if(res.status!=200){
                this.data.image_path = image
                this.swr()
            }
        },

		handleSuccess(res, file) {
            if(this.isEditingItem){
                res = `/uploads/${res}`
                return this.editData.image_path = res
            }
            res = `${res}`
            this.data.image_path = res
        },
        handleFormatError(file) {
            this.$Notice.warning({
                title: "The file format is incorrect",
                desc:
                    "File format of " +
                    file.name +
                    " is incorrect, please select jpg or png."
            });
        },
        handleError(res, file) {
            this.$Notice.warning({
                title: "The file format is incorrect",
                desc: `${file.errors.file.length ? file.errors.file[0] : "Something went wrong!"}`
            });
        },
        handleMaxSize(file) {
            this.$Notice.warning({
                title: "Exceeding file size limit",
                desc: "File  " + file.name + " is too large, no more than 2M."
            });
        },
        showDeleteModal(banner, i) {
            const deleteModalObj = {
                showDeleteModal: true,
                deleteUrl: 'app/delete_home_banner',
                data: banner,
                deletingIndex: i,
                isDeleted: false
            }
            this.$store.commit('setDeletingModalObj', deleteModalObj)
        },

	},
	async created() {
        this.$Loading.start();
        this.token = window.Laravel.csrfToken;
        const res = await this.callApi("get", "app/get_home_banners");
        if (res.status === 200) {
            this.banners = res.data;
            this.$Loading.finish();
        } else {
            this.swr();
            this.$Loading.error();
        }
    },
    components: {
        deleteModal
    },
    computed: {
        ...mapGetters(["getDeleteModalObj"])
    },
    watch: {
        getDeleteModalObj(obj){
            if(obj.isDeleted){
                this.banners.splice(obj.deletingIndex,1)
            }
        }
    }
}
</script>