<template>
     <div class="role-container">
          <Row :gutter="30">
               <Col :xs="24" :lg="{span:16, offset:4 }" :xl="{span:12, offset:6}" :xxl="{span:7, offset:1}" class="my-2">
                    <Divider orientation="center"><h3>Role Form</h3></Divider>

                    <div class="role-form-container">
                         <Form :model="role" :label-width="40">
                              <Row>
                                   <Col span="16">
                                        <FormItem label="Role">
                                             <Input v-model="role.name" />
                                        </FormItem>
                                   </Col>
                                   <Col span="8">
                                        <FormItem>
                                             <Button type="primary" @click="validateForm()">{{ edit ? "Edit Role" : "Add Role" }}</Button>
                                        </FormItem>
                                   </Col>
                              </Row>
                         </Form>
                    </div>


               </Col>
               <Col :xs="24" :lg="{span:16, offset:4 }" :xl="{span:12, offset:6}" :xxl="{span:7, offset:5}" class="my-2">
                    <Divider orientation="center"><h3>Role List</h3></Divider>
                    <div class="table-block">
                         <table class="table table-hover">
                              <thead>
                                   <tr>
                                        <th scope="col">Role</th>
                                        <th scope="col" width="105px">Action</th>
                                   </tr>
                              </thead>
                              <tbody>
                                   <tr v-for="(role, i) in roles" :key="i">
                                        <td>{{ role.name }}</td>
                                        <td>
                                             <a href="#" @click.prevent="editRole(role, i)">
                                                  <Icon type="md-create" class="text-primary mx-1" size="21" />
                                             </a>
                                             <a href="#" @click.prevent="showDeleteModal(role, role.id, i)">
                                                  <Icon type="md-trash" class="text-danger mx-1" size="21" />
                                             </a>
                                        </td>
                                   </tr>
                              </tbody>
                         </table>
                    </div>                
               </Col>
          </Row>
          <deleteModal></deleteModal>
     </div>
</template>
<script>
import deleteModal from "../components/DeleteModal.vue";
import { mapGetters } from "vuex";
export default {
     data(){
          return{
               roles: [],
               role: {
                    id: '',
                    name: '',
               },
               edit: false,
               index: 0,
               isSaving: false,
               isDeleting: false,
               badChars: /^[a-zA-Z0-9-.,! ]+$/,
          }
     },
     created() {
          this.getRoles();
     },
     methods: {
          async getRoles() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("get", "api/roles");
               if (res.status === 200) {
                    this.roles = res.data;
               } else {
                    this.swr();
               }
          },
          validateForm(){
               if (this.role.name.trim() == "") return this.e("Name is required");
               if (!this.badChars.test(this.role.name)) return this.e("Special characters are not supported");
               if(!this.edit) {
                    this.createRole();
               } else {
                    this.updateRole();
               } 
          },
          async createRole() {
               const res = await this.callApi("post", "api/role", this.role);
               if(res.status === 200) {
                    this.roles.push(res.data);
                    this.s("Role has been added!");
                    this.edit = false;
                    this.role.name = '';
               } else {
                    if(res.status == 422) {
                         if (res.data.errors.name) {
                              this.i(res.data.errors.name[0]);
                         }
                    } else {
                         this.swr();
                    }
               }
          },
          editRole(role, i){
               this.index = i;
               this.edit = true;
               this.role.id = role.id
               this.role.name = role.name
               $(window).scrollTop(0);
          },
          async updateRole() {
               const res = await this.callApi("patch", `api/role/${this.role.id}`, this.role);
               if (res.status === 200) {
                    this.roles[this.index].name = this.role.name;
                    this.role.id = '';
                    this.role.name = '';
                    this.s("Role has been updated!");
                    this.edit = false;
               } else {
                    if (res.status == 422) {
                         if (res.data.errors.name) {
                              this.i(res.data.errors.name[0]);
                         }
                    } else {
                         this.swr();
                    }
               }
          },
          showDeleteModal(role, id, i) {
               const deleteModalObj = {
                    showDeleteModal: true,
                    deleteUrl: `api/role/${id}`,
                    data: role,
                    deletingIndex: i,
                    isDeleted: false,
               }
               this.$store.commit('setDeletingModalObj', deleteModalObj)
          },

     },
     components: {
          deleteModal,
     },
     computed: {
          ...mapGetters(["getDeleteModalObj"]),
     },
     watch: {
          getDeleteModalObj(obj) {
               if (obj.isDeleted) {
                    this.roles.splice(obj.deletingIndex, 1);
                    this.role.id = '';
                    this.role.name = '';
                    this.edit = false;
               }
          },
     },
}
</script>