<template>
    <div>
                    <div class="table-title mb-3">
                        <p>Settings - General
                            <Button @click="saveChanges" :disabled="isSaving" :loading="isSaving" >{{ isSaving ? "Saving.." : "Save Changes" }}</Button>
                        </p>
                    </div>
                    <Form
                        :model="data"
                        label-position="right"
                        :label-width="100"
                    >
                        <FormItem label="Logo">
                            <div v-bind:class="[data.logo ?'d-none' : '']">                                
                                <Upload
                                    ref="uploads"
                                    :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                                    :on-success="handleSuccess"
                                    :on-error="handleError"
                                    :format="['jpg', 'jpeg', 'png', 'gif']"
                                    :on-format-error="handleFormatError"
                                    :max-size="2048"
                                    :on-exceeded-size="handleMaxSize"
                                    action="/app/upload"
                                >
                                    <Button icon="ios-cloud-upload-outline"
                                        >Select the file to upload</Button
                                    >
                                </Upload>
                            </div>
                            <div class="demo-upload-list" v-if="data.logo">
                                <img :src="'/uploads/'+data.logo" alt="image" />
                                <div class="demo-upload-list-cover">
                                    <Icon
                                        type="ios-trash-outline"
                                        @click="deleteImage"
                                    ></Icon>
                                </div>
                            </div>
                        </FormItem>
                        <FormItem label="Name">
                            <Input v-model="data.name" />
                        </FormItem>
                        <FormItem label="Email">
                            <Input v-model="data.email" type="email" />
                        </FormItem>
                        <FormItem label="Contact">
                            <Input v-model="data.contact" type="textarea" :rows="4" />
                        </FormItem>
                        <FormItem label="Address">
                            <Input v-model="data.address" type="textarea" :rows="4" />
                        </FormItem>
                        <FormItem label="Google Map">
                            <Input v-model="data.google_map" type="textarea" :rows="4" />
                        </FormItem>
                    </Form>
                </div>

</template>
<script>
export default {
    data() {
        return {
            data: {
                logo: null,
                name: '',
                email: '',
                contact: null,
                address: null,
                google_map: null,
            },
            isSaving: false,
        };
    },
    methods: {
        async saveChanges(){
            this.isSaving = true
            if(this.data.name.trim()=='') return this.e('Name is required');
            if(this.data.email.trim()=='') return this.e('Email is required');
            const res = await this.callApi("patch","app/edit_settings",this.data);
            if (res.status === 200) {
                this.s("Settings has been updated!");
            } else {
                if (res.status == 422) {
                    if (res.data.errors.logo) {
                        this.i(res.data.errors.logo[0]);
                    }
                    if (res.data.errors.name) {
                        this.i(res.data.errors.name[0]);
                    }
                    if (res.data.errors.email) {
                        this.i(res.data.errors.email[0]);
                    }
                    if (res.data.errors.contact) {
                        this.i(res.data.errors.contact[0]);
                    }
                    if (res.data.errors.address) {
                        this.i(res.data.errors.address[0]);
                    }
                    if (res.data.errors.google_map) {
                        this.i(res.data.errors.google_map[0]);
                    }
                } else {
                    this.swr();
                }
            }
            this.isSaving = false
        },
		handleSuccess(res, file) {
            // if(this.isEditingItem){
            //     res = `/uploads/${res}`
            //     return this.editData.image_path = res
            // }
            res = `${res}`
            this.data.logo = res
        },
        handleFormatError(file) {
            this.$Notice.warning({
                title: "The file format is incorrect",
                desc:
                    "File format of " +
                    file.name +
                    " is incorrect, please select jpg or png."
            });
        },
        handleError(res, file) {
            this.$Notice.warning({
                title: "The file format is incorrect",
                desc: `${file.errors.file.length ? file.errors.file[0] : "Something went wrong!"}`
            });
        },
        handleMaxSize(file) {
            this.$Notice.warning({
                title: "Exceeding file size limit",
                desc: "File  " + file.name + " is too large, no more than 2M."
            });
        },
        async deleteImage(){
            let image
            image = this.data.logo
            this.$refs.uploads.clearFiles()
            this.data.logo = ''
            const res = await this.callApi('post', 'app/delete_image', {imageName: image})
            if(res.status!=200){
                this.data.logo = image
                this.swr()
            }
        },
    },
    async created() {
        this.$Loading.start();
        this.token = window.Laravel.csrfToken;
        const res = await this.callApi("get", "app/get_settings");
        if (res.status === 200) {
            this.data = res.data;
            this.data.contact = res.data.contact_number;
            this.$Loading.finish();
        } else {
            this.swr();
            this.$Loading.error();
        }
    },
};
</script>
