<template>
    <div>
        <div class="table-title mb-3">
            <p class="table-title mb-3">
                Settings - Social Media
                <Button @click="addModal = true"><Icon type="md-add" />Add</Button>
            </p>
        </div>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Icon</th>
                    <th scope="col">Name</th>
                    <th scope="col">Link</th>
                    <th scope="col" width="105px">Action</th>
                </tr>
            </thead>

            <!-- Table Items -->
            <tbody>
                <tr v-for="(social, i) in socials" :key="i">
                    <td>{{ social.id }}</td>
                    <td class="table_image">
                        <img :src="social.image_path" alt="image" />
                    </td>
                    <td scope="row">{{ social.name }}</td>
                    <td>{{ social.link }}</td>
                    <td>
                        <Button type="text" size="small" @click="showEditModal(social, i)"><Icon type="md-create" size="21" color="#2d8cf0"/></Button>
                        <Button type="text" size="small" @click="showDeleteModal(social, i)" :loading="social.isDeleting"><Icon type="md-trash" size="21" color="#ed4014" /></Button>
                    </td>
                </tr>

            </tbody>
            <!-- Table Items -->
        </table>

        <!-- Add Modal -->
        <Modal
            v-model="addModal"
            title="Add Social Media"
            :mask-closable="false"
            :closable="false"
        >
            <Input v-model="data.name" placeholder="Name" class="my-2" />
            <Input v-model="data.link" placeholder="Link" class="my-2" />
            <div v-bind:class="[data.image_path ?'d-none' : '']">  
                <Upload
                    ref="uploads"
                    type="drag"
                        class="my-2"
                    :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                    :on-success="handleSuccess"
                    :on-error="handleError"
                    :format="['jpg','jpeg','png','gif']"
                    :on-format-error="handleFormatError"
                    :max-size="2048"
                    :on-exceeded-size="handleMaxSize"
                    action="/app/upload"
                >
                    <div style="padding: 20px 0">
                        <Icon
                            type="ios-cloud-upload"
                            size="52"
                            style="color: #3399ff"
                        ></Icon>
                        <p>Click or drag image here to upload</p>
                    </div>
                </Upload>
            </div>

            <div class="demo-upload-list" v-if="data.image_path">
                <img :src="'/uploads/'+data.image_path" alt="image" />
                <div class="demo-upload-list-cover">
                    <Icon type="ios-trash-outline" @click="deleteImage"></Icon>
                </div>
            </div>

            <div slot="footer">
                <Button type="default" @click="addModal = false" >Close</Button>
                <Button type="primary" @click="addSocial" :disabled="isAdding" :loading="isAdding" >{{ isAdding ? "Adding.." : "Add Social Media" }}</Button>
            </div>
        </Modal>


        <!-- Edit Modal -->
        <Modal
            v-model="editModal"
            title="Update Social Media"
            :mask-closable="false"
            :closable="false"
        >
            <Input v-model="editData.name" placeholder="Name" class="my-2" />
            <Input v-model="editData.link" placeholder="Link" class="my-2" />
            <div v-bind:class="[editData.image_path ?'d-none' : '']">  
                <Upload
                    ref="editDataUploads"
                    type="drag"
                        class="my-2"
                    :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                    :on-success="handleSuccess"
                    :on-error="handleError"
                    :format="['jpg','jpeg','png','gif']"
                    :on-format-error="handleFormatError"
                    :max-size="2048"
                    :on-exceeded-size="handleMaxSize"
                    action="/app/upload"
                >
                    <div style="padding: 20px 0">
                        <Icon
                            type="ios-cloud-upload"
                            size="52"
                            style="color: #3399ff"
                        ></Icon>
                        <p>Click or drag image here to upload</p>
                    </div>
                </Upload>
            </div>

            <div class="demo-upload-list" v-if="editData.image_path">
                <img :src="editData.image_path" alt="image" />
                <div class="demo-upload-list-cover">
                    <Icon type="ios-trash-outline" @click="deleteImage(false)"></Icon>
                </div>
            </div>

            <div slot="footer">
                <Button type="default" @click="closeEditModal" >Close</Button>
                <Button type="primary" @click="editSocial" :disabled="isUpdating" :loading="isUpdating" >{{ isUpdating ? "Updating .." : "Save changes" }}</Button>
            </div>
        </Modal>

        <deleteModal></deleteModal>

    </div>
</template>
<script>
import deleteModal from '../components/DeleteModal.vue'
import {mapGetters} from 'vuex' 
export default {
    data() {
        return {
            data: {
                name: '',
                image_path: '',
                link: '',
                setting_id: 1,
            },
            editData: {
                name: '',
                image_path: '',
                link: '',
                setting_id: 1,
            },
            socials: [],
            addModal: false,
			editModal: false,
			deleteModal: false,
			isAdding: false,
			isUpdating: false,
			isDeleting: false,
            isIconImageNew: false,
            imageHolder: '',
            isEditingItem: false,
        };
    },
    methods: {
        async addSocial() {
            if(this.data.name.trim()=='') return this.e('Name is required');
            if(this.data.link.trim()=='') return this.e('Link is required');
            if(this.data.image_path.trim()=='') return this.e('Image is required');

            const res = await this.callApi("post", "app/add_social_media", this.data);
            if (res.status === 201) {
                this.socials.unshift(res.data);
                this.s("Social media has been added!");
                this.data.name = '';
                this.data.image_path = '';
                this.data.link = '';
                this.addModal = false;
            } else {
                if (res.status == 422) {
                    if (res.data.errors.name) {
                        this.i(res.data.errors.name[0]);
                    }
                    if (res.data.errors.link) {
                        this.i(res.data.errors.link[0]);
                    }
                    if (res.data.errors.image_path) {
                        this.i(res.data.errors.image_path[0]);
                    }
                } else {
                    this.swr();
                }
            }
            this.$refs.uploads.clearFiles()
        },
        showEditModal(social, index) {
            let obj = {
                id: social.id,
                name: social.name,
                image_path: social.image_path,
                link: social.link,
            };
            this.editData = obj
            this.editModal = true
            this.index = index
            this.isEditingItem = true
            this.isIconImageNew = false
        },
        closeEditModal(){
            this.editModal = false
            this.isUpdating = false
        },
        async deleteImage(isAdd=true){
            let image
            if(!isAdd){ // For Editing
                this.imageHolder = this.editData.image_path
                this.isIconImageNew = true
                image = this.imageHolder
                this.editData.image_path = ''
                this.$refs.editDataUploads.clearFiles()
            } else { // For Adding
                image = this.data.image_path
                this.data.image_path = ''
                this.$refs.uploads.clearFiles()
            }
            const res = await this.callApi('post', 'app/delete_image', {imageName: image})
            if(res.status!=200){
                this.data.image_path = image
                this.swr()
            }
        },
        async editSocial() {
            if(this.editData.name.trim()=='') return this.e('Name is required');
            if(this.editData.link.trim()=='') return this.e('Link is required');
            if(this.editData.image_path.trim()=='') return this.e('Image is required');

            const res = await this.callApi("patch","app/edit_social_media",this.editData);
            if (res.status === 200) {
                this.socials[this.index].name = this.editData.name;
                this.socials[this.index].link = this.editData.link;
                this.socials[this.index].image_path = this.editData.image_path;
                this.s("Social media has been updated!");
                this.editModal = false;
            } else {
                if (res.status == 422) {
                    if (res.editData.errors.name) {
                        this.i(res.editData.errors.name[0]);
                    }
                    if (res.editData.errors.link) {
                        this.i(res.editData.errors.link[0]);
                    }
                    if (res.editData.errors.image_path) {
                        this.i(res.editData.errors.image_path[0]);
                    }
                } else {
                    this.swr();
                }
            }
        },
		handleSuccess(res, file) {
            if(this.isEditingItem){
                res = `/uploads/${res}`
                return this.editData.image_path = res
            }
            res = `${res}`
            this.data.image_path = res
        },
        handleFormatError(file) {
            this.$Notice.warning({
                title: "The file format is incorrect",
                desc:
                    "File format of " +
                    file.name +
                    " is incorrect, please select jpg or png."
            });
        },
        handleError(res, file) {
            this.$Notice.warning({
                title: "The file format is incorrect",
                desc: `${file.errors.file.length ? file.errors.file[0] : "Something went wrong!"}`
            });
        },
        handleMaxSize(file) {
            this.$Notice.warning({
                title: "Exceeding file size limit",
                desc: "File  " + file.name + " is too large, no more than 2M."
            });
        },
        showDeleteModal(social, i) {
            console.log(social)
            const deleteModalObj = {
                showDeleteModal: true,
                deleteUrl: 'app/delete_social_media',
                data: social,
                deletingIndex: i,
                isDeleted: false,
            }
            this.$store.commit('setDeletingModalObj', deleteModalObj)
        },
    },
    async created() {
        this.$Loading.start();
        this.token = window.Laravel.csrfToken;
        const res = await this.callApi("get", "app/get_social_medias");
        if (res.status === 200) {
            this.socials = res.data;
            this.$Loading.finish();
        } else {
            this.swr();
            this.$Loading.error();
        }
    },
    components: {
        deleteModal
    },
    computed: {
        ...mapGetters(["getDeleteModalObj"])
    },
    watch: {
        getDeleteModalObj(obj){
            if(obj.isDeleted){
                this.socials.splice(obj.deletingIndex,1)
            }
        }
    }
};
</script>
