<template>
     <div class="user-container">
          <h2 class="mb-3">About Page</h2>
          <Row :gutter="30">
               <Col span="24" class="my-2">
                    <roles></roles>
               </Col>
               <Col span="24" class="my-2">
                    <Row :gutter="16">
                         <Col :xs="24" :lg="{span:16, offset:4 }" :xl="{span:12, offset:6}" :xxl="{span:7, offset:1}" class="my-2">
                              <Divider orientation="center"><h3>User Form</h3></Divider>
                              <div class="user-form-container">
                              <Form :model="user" label-position="top">
                                   <Row type="flex" justify="space-between" class="code-row-bg">
                                        <Col span="11">
                                             <FormItem label="First Name">
                                                  <Input v-model="user.name" />
                                             </FormItem>
                                        </Col>
                                        <Col span="11">
                                             <FormItem label="Last Name">
                                                  <Input v-model="user.last_name" />
                                             </FormItem>
                                        </Col>
                                        <Col span="24">
                                             <FormItem label="Email">
                                                  <Input v-model="user.email" />
                                             </FormItem>
                                        </Col>
                                        <Col span="11" v-if="!this.edit">
                                             <FormItem label="Password">
                                                  <Input type="password" v-model="user.password" />
                                             </FormItem>
                                        </Col>
                                        <Col span="11" v-if="!this.edit">
                                             <FormItem label="Password">
                                                  <Input type="password" v-model="user.password_confirmation" />
                                             </FormItem>
                                        </Col>
                                        <Col span="11">
                                             <FormItem label="Image">
                                                  <div v-bind:class="[user.image_path && user.image_path != '/uploads/no_image.jpg' ? 'd-none' : '']">
                                                       <Upload
                                                            ref="uploads"
                                                            :headers="{
                                                                 'x-csrf-token': token,
                                                                 'X-Requested-With': 'XMLHttpRequest',
                                                            }"
                                                            :on-success="handleSuccess"
                                                            :on-error="handleError"
                                                            :format="['jpg', 'jpeg', 'png', 'gif']"
                                                            :on-format-error="handleFormatError"
                                                            :max-size="2048"
                                                            :on-exceeded-size="handleMaxSize"
                                                            action="/app/upload"
                                                       >
                                                            <Button icon="ios-cloud-upload-outline">Upload Image</Button>
                                                       </Upload>
                                                  </div>
                                                  <div class="demo-upload-list" v-if="user.image_path && user.image_path != '/uploads/no_image.jpg'">
                                                       <img v-if="user.image_path.includes(`/uploads/`)" :src="user.image_path" alt="image" />
                                                       <img v-else :src="`/uploads/${user.image_path}`" alt="image" />
                                                       <div class="demo-upload-list-cover">
                                                       <Icon type="ios-trash-outline" @click="deleteImage"></Icon>
                                                       </div>
                                                  </div>
                                             </FormItem>
                                        </Col>
                                        <Col span="11">
                                             <FormItem label="Role">
                                                  <Select v-model="user.role_id" placeholder="Select Role">
                                                       <Option v-for="role in roles" v-bind:key="role.id" :value="role.id">{{ role.name }}</Option>
                                                  </Select>
                                             </FormItem>
                                        </Col>
                                   </Row>
                                   <FormItem>
                                        <Button type="primary" @click="validateForm()" :disabled="isSaving" :loading="isSaving" >{{ isSaving ? "Saving.." : "Save" }}</Button>
                                   </FormItem>
                              </Form>
                              </div>

                         </Col>
                         <Col :xs="24" :lg="{span:16, offset:4 }" :xl="{span:12, offset:6}" :xxl="{span:15, offset:1}" class="my-2">
                              <Divider orientation="center"><h3>User List</h3></Divider>
                              <div class="pagination-container d-flex justify-content-end" >
                                   <nav aria-label="Users Pagination">
                                        <ul class="pagination">
                                             <li class="page-item" v-bind:class="[{ disabled: !pagination.prev_page_url }]">
                                                  <a class="page-link bg-info text-white prev" href="#" @click.prevent="getUsers(pagination.prev_page_url)">Prev</a>
                                             </li>
                                             <li class="page-item disabled page-text">
                                                  <a class="page-link">Page {{ pagination.current_page }} of {{ pagination.last_page }}</a>
                                             </li>
                                             <li class="page-item" v-bind:class="[{ disabled: !pagination.next_page_url }]">
                                                  <a class="page-link bg-info text-white next" href="#" @click.prevent="getUsers(pagination.next_page_url)">Next</a>
                                             </li>
                                        </ul>
                                   </nav>
                              </div>
                              <div class="table-block table-responsive-xl my-3">
                                   <table class="table table-hover">
                                        <thead>
                                             <tr>
                                                  <th scope="col">Name</th>
                                                  <th scope="col">Email</th>
                                                  <th scope="col">Role</th>
                                                  <th scope="col" width="105px">Action</th>
                                             </tr>
                                        </thead>
                                        <tbody>
                                             <tr v-for="(user, i) in users" :key="i">
                                                  <th scope="row">
                                                       <Avatar icon="ios-person" :src="user.image_path" class="user-avatar" size="large"/> {{ user.name+" "+ user.last_name }}</th>
                                                  <td>{{ user.email }}</td>
                                                  <td>{{ user.role.name }}</td>
                                                  <td>
                                                       <a href="#" @click.prevent="editUser(user, i)">
                                                            <Icon type="md-create" class="text-primary mx-1" size="21" />
                                                       </a>
                                                       <a href="#" @click.prevent="showDeleteModal(user, user.id, i)">
                                                            <Icon type="md-trash" class="text-danger mx-1" size="21" />
                                                       </a>
                                                  </td>
                                             </tr>
                                        </tbody>
                                   </table>
                              </div>
                         </Col>
                    </Row>                    
               </Col>
          </Row>
     </div>
</template>
<script>
import deleteModal from "../components/DeleteModal.vue";
import { mapGetters } from "vuex"; 
import Roles from './Role';
export default {
     data() {
          return {
               users: [],
               roles: [],     
               user: {
                    id: '',
                    name: '',
                    last_name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    image_path: '',
                    role_id: '',
               },
               pagination: {},
               edit: false,
               isSaving: false,
               index: 0,
               badChars: /^[a-zA-Z0-9-.,! ]+$/,
          }
     },
     created() {
          this.getUsers();
          this.getRoles();
     },
     components: {
          Roles,
          deleteModal,
     },
     methods: {
          async getUsers(url){
               this.$Loading.start();
               this.token = window.Laravel.csrfToken;
               let vm = this;
               let page_url = url ? url : "api/users";
               const res = await this.callApi("get", page_url);
               if (res.status === 200) {
                    this.users = res.data.data;
                    vm.makePagination(res.data);
                    this.$refs.uploads.clearFiles();
                    this.$Loading.finish();                    
               } else {
                    this.swr();
                    this.$Loading.error();
               }
          },
          async getRoles(){
               const res = await this.callApi("get", "api/roles");
               if (res.status === 200) {
                    this.roles = res.data;
               } else {
                    this.swr();
               }
          },
          makePagination(data) {
               let pagination = {
                    current_page: data.current_page,
                    last_page: data.last_page,
                    next_page_url: data.next_page_url,
                    prev_page_url: data.prev_page_url,
                    total: data.total,
               };
               this.pagination = pagination;
          },

          handleSuccess(res, file) {
               res = `${res}`;
               this.user.image_path = res;
          },
          handleFormatError(file) {
               this.$Notice.warning({
                    title: "The file format is incorrect",
                    desc:
                    "File format of " +
                    file.name +
                    " is incorrect, please select jpg or png.",
               });
          },
          handleError(res, file) {
               this.$Notice.warning({
                    title: "The file format is incorrect",
                    desc: `${
                    file.errors.file.length
                         ? file.errors.file[0]
                         : "Something went wrong!"
                    }`,
               });
          },
          handleMaxSize(file) {
               this.$Notice.warning({
                    title: "Exceeding file size limit",
                    desc: "File  " + file.name + " is too large, no more than 2M.",
               });
          },
          async deleteImage() {
               let image;
               image = this.user.image_path;
               this.$refs.uploads.clearFiles();
               this.user.image_path = '';
               const res = await this.callApi("post", "app/delete_image", {
                    imageName: image,
               });
               if (res.status != 200) {
                    this.user.image_path = image;
                    this.swr();
               }
          },
          validateForm(){
               if (this.user.name.trim() == "") return this.e("First name is required");
               if (this.user.last_name.trim() == "") return this.e("Last name is required");
               if (!this.badChars.test(this.user.name)) return this.e("Special characters are not supported");
               if (!this.badChars.test(this.user.last_name)) return this.e("Special characters are not supported");
               if (this.user.email.trim() == "") return this.e("Email is required");
               if(!this.edit) {
                    if (this.user.password != this.user.password_confirmation) return this.e("The password confirmation does not match");
               }
               if (!this.user.role_id) return this.e("User role is required");
               if (!this.edit) {
                    this.createUser();
               } else {
                    this.saveEditedUser();
               }
          },
          async createUser(){
               this.isSaving = true;
               const res = await this.callApi("post", "api/user", this.user);
               if(res.status === 200) {
                    this.isSaving = false;
                    this.edit = false;
                    this.user.id = '';
                    this.user.name = '';
                    this.user.last_name = '';
                    this.user.email = '';
                    this.user.image_path = '';
                    this.user.role_id = '';
                    this.users.push(res.data);
                    this.s("User has been added!");
                    this.$refs.uploads.clearFiles();
                    this.getUsers();
                    this.getRoles();
               } else {
                    this.isSaving = false;
                    if(res.status == 422) { 
                         for (let i in res.data.errors) {
                              this.e(res.data.errors[i][0]);
                         }
                    } else {
                         this.swr();
                    }
               }
          },
          editUser(user, i){
               this.index = i;
               this.edit = true;
               this.user.id = user.id;
               this.user.name = user.name;
               this.user.last_name = user.last_name;
               this.user.email = user.email;
               this.user.image_path = user.image_path;
               this.user.role_id = user.role_id;
          },
          async saveEditedUser(){
               this.isSaving = true;
               const res = await this.callApi("patch", `api/user/${this.user.id}`, this.user);
               if (res.status === 200) {
                    this.s("User has been updated!");
                    this.isSaving = false;
                    this.edit = false;
                    this.user.id = '';
                    this.user.name = '';
                    this.user.last_name = '';
                    this.user.email = '';
                    this.user.image_path = '';
                    this.user.role_id = '';
                    this.$refs.uploads.clearFiles();
                    this.getUsers();
               } else {
                    this.isSaving = false;
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.e(res.data.errors[i][0]);
                         }
                    } else {
                         this.swr();
                    }
               }
          },          
          showDeleteModal(user, id, i) {
               const deleteModalObj = {
                    showDeleteModal: true,
                    deleteUrl: `api/user/${id}`,
                    data: user,
                    deletingIndex: i,
                    isDeleted: false,
               }
               this.$store.commit('setDeletingModalObj', deleteModalObj)
          },
     },
     computed: {
          ...mapGetters(["getDeleteModalObj"]),
     },
     watch: {
          getDeleteModalObj(obj) {
               if (obj.isDeleted) {
                    this.edit = false;
                    this.user.id = '';
                    this.user.name = '';
                    this.user.last_name = '';
                    this.user.email = '';
                    this.user.image_path = '';
                    this.user.role_id = '';
                    this.getUsers();
                    this.getRoles();
               }
          },
     },
}
</script>