<template>
     <div class="catalog-navbar">
          <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
               <div class="container-fluid">
                    <router-link :to="{ name: 'home' }" class="navbar-brand">
                         <img :src="`/uploads/${settings.logo}`" v-bind:alt="settings.name" />
                    </router-link>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse mr-auto" id="navbarTogglerDemo02">
                         <div class="navbar-container ml-auto">
                              <ul class="navbar-nav navbar-top">
                                   <li class="nav-item">
                                        <router-link :to="{ name: 'home' }" disabled>Register</router-link>
                                   </li>
                                   <li class="nav-item">
                                        <router-link :to="{ name: 'user.login' }">Login</router-link>
                                   </li>
                              </ul>
                              <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                                   <li class="nav-item active">
                                        <router-link :to="{ name: 'home' }" class="nav-link">Home</router-link>
                                   </li>
                                   <li class="nav-item">
                                        <router-link :to="{ name: 'about' }" class="nav-link">About Us</router-link>
                                   </li>
                                   <li class="nav-item">
                                        <router-link :to="{ name: 'activity' }" class="nav-link">Activities</router-link>
                                   </li>
                                   <li class="nav-item">
                                        <router-link :to="{ name: 'gallery' }" class="nav-link">Gallery</router-link>
                                   </li>
                                   <li class="nav-item">
                                        <router-link :to="{ name: 'contact' }" class="nav-link">Contact Us</router-link>
                                   </li>
                              </ul>
                              
                         </div>
                    </div>
                    
               </div>
          </nav>
          <router-view />
     </div>
</template>
<script>
export default {
     data() {
          return {
               settings: [],
          }
     },
     created() {
          this.getSetting();
     },
     methods: {
          async getSetting(){
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("get", 'api/cat_setting');
               if (res.status === 200) {
                    this.settings = res.data;
                    this.$Loading.finish();                    
               } else {
                    this.swr();
                    this.$Loading.error();
               }
          }
     }
}
</script>